[2014-03-14 07:06] shahzadmajeed opened #1 "Latex Support"
I would love you to add Latex support to this iOS Text editor.

[2014-03-14 15:58] #1 closed, assigned to nobody

[2014-03-16 03:13] trivektor opened #2 "Add Cocoapods support"

[2014-03-17 20:07] Sun3 opened #3 "iOS 7.1 iPad Rotating to Landscape causes keyboard toolbar and RichTextEditor to fly away"
iOS 7.1 - When you start on the iPad in Portrait mode then Edit, Rotate to Landscape and keyboard toolbar and RichTextEditor flies off screen toward the top.

Great control by the way.

[2014-03-17 22:43] #3 closed, assigned to nobody

[2014-03-19 08:04] exister opened #4 "When typing, the cursor continues under the keyboard view."
Possible solution described here http://stackoverflow.com/a/20872044/1233809

[2014-03-26 00:47] jstdoit opened #5 "is there any editor text change event triggered?"
how can I detect the text change event?

[2014-03-28 08:22] jstdoit opened #6 "about performance"
is there any idea to improve the performance of UIWebview for an editor?

[2014-03-29 02:23] jstdoit opened #7 "not compatible with ios 6"
cos using of CYRTextView， the CYRTextView used something only works with iOS7

[2014-03-30 21:14] #7 closed, assigned to nobody

[2014-04-13 13:12] soaj1664 opened #8 "Online Demo"
Hi,

Is there any online demo of your editor? Thanks!

[2014-04-14 16:55] #8 closed, assigned to nobody

[2014-04-14 16:55] #6 closed, assigned to nobody

[2014-05-03 16:35] yientau opened #10 "Keyboard appear twice"
When finish editing a content, tapping on the "keyboard" button to hide the keyboard will hide the keyboard. After that, tap on the view content again and it will brings up the keyboard. However, the keyboard will show, and hide, and show again. It looks like there are two or more delegates has been assigned and causing this unexpected result.

[2014-05-05 05:46] ziyang0621 opened #11 "change the color of strikethrough line?"
is there any way to change the color of the strikethrough line?

I think it is not dark enough for people to see the strikethrough line.

thank you.

[2014-05-05 21:40] nnhubbard opened #12 "Not running in 64bit mode in Simulator"
Reported that it is not working in 64 bit mode. Will look into this.

[2014-05-06 04:27] #11 closed, assigned to nobody

[2014-06-10 23:22] adamtootle opened #13 "Add support for custom toolbar buttons"
What's the font you used for the H1 and other buttons? I can add support for this. I just thought it would be nice to have the ability to add buttons with custom titles that matched the font of the provided buttons.

[2014-06-10 23:29] #12 closed, assigned to nobody

[2014-06-11 05:55] #13 closed, assigned to nobody

[2014-06-29 22:17] causeidm opened #15 "Documentation Needed on using JS files"
spent a day trying to figure out why the buttons wouldn't work.  If you copy a js file into an app, ZSSRichTextEditor.js, you need to remove it from your project -> build phases -> compile sources and add it to copy bundle resources

[2014-06-30 05:40] #15 closed, assigned to nobody

[2014-06-30 17:24] causeidm opened #16 "apostrophe causes problems"
if I use an apostrophe in the text, gethtml returns nil

[2014-06-30 17:50] #16 closed, assigned to nobody

[2014-07-03 18:32] iksiphone opened #17 "App rejected when using ZSSRichTextEditor"
Hi
Apple rejects the app at the submission stage when ZSSRichTextEditor is included.
HRColorPicker is not included.

"The app contains or inherits from non-public classes in.... UIWebbrowserView"

Is anyone else face the same issue?

Patrick

[2014-07-29 05:36] nnhubbard opened #18 "Keyboard should show automatically"

[2014-07-29 05:48] #18 closed, assigned to nnhubbard

[2014-08-04 05:30] #17 closed, assigned to nobody

[2014-08-04 08:30] #10 closed, assigned to nobody

[2014-08-08 14:39] #2 closed, assigned to nobody

[2014-08-13 02:34] huang5556019 opened #19 "add support for ios6"
will editor support for ios6?

[2014-08-13 03:27] huang5556019 opened #20 "Is editor support for placeholder?"

[2014-08-13 05:47] #19 closed, assigned to nobody

[2014-08-13 18:12] navisingh opened #22 "iOS 8 support"
Thanks for this fantastic editor!  I have been playing with it and found that on iOS 8 beta 5, the keyboard behavior(show / hide) and the toolbar behavior (sliding) are buggy.  The keyboard hides but never comes back up, and the toolbar does not slide at all.

[2014-08-13 18:51] nnhubbard opened #23 "Content that goes under keyboard seems to lose the caret"
When content goes down under the keyboard it seems the caret/cursor is almost hidden. Some strange bugginess going on here.

[2014-08-15 07:59] huang5556019 opened #25 "custom ZSSRichTextEditorToolbar not show.."
custom ZSSRichTextEditorToolbar when used ZSSRichTextEditorToolbarParagraph custom tools not show...

self.enabledToolbarItems = ZSSRichTextEditorToolbarSuperscript | ZSSRichTextEditorToolbarUnderline | ZSSRichTextEditorToolbarH1 | ZSSRichTextEditorToolbarH3 | ZSSRichTextEditorToolbarParagraph;

the value is out of NSInteger  ; cause the value is negative..

[2014-08-25 04:43] #23 closed, assigned to nnhubbard

[2014-08-27 21:58] garfbargle opened #26 "Files missing from build phases compiled sources (Need to add to project)"
ZSSColorViewController
ZSSCustomButtonsViewController
ZSSLargeViewController
ZSSPlaceholderViewController
ZSSSelectiveViewController
ZSSDemoList

[2014-08-27 22:10] #26 closed, assigned to nobody

[2014-08-27 22:20] garfbargle opened #27 "Positioning of toolbar is calculated wrong when ZSSRichTextEditor is a child VC"
I am using my own table view, the first cell in the table view has a container view controller that holds my ZSSRichTextEditor subclass.

This is the hack I'm using to get things to work properly

@property (nonatomic, strong) UIView \* viewForToolbar;

// End of view did load.
self.viewForToolbar = [UIApplication sharedApplication].keyWindow.rootViewController.view;
[self.viewForToolbar addSubvie

[2014-08-27 22:23] garfbargle opened #28 "Rich Text Editor toolbar being show when keyboard is shown even if a different view is becoming the first responder"
My ZSSRichTextEditor subclass is a child view controller contained within a table view.

If a textfield becomes a first responder, the notification to show the keyboard is sent. The ZSSRichTextEditor implementation is listening for this and shows the toolbar.

The toolbar should only be shown if the ZSSRichTextEditor editor views are being edited.

Work around for now:

[code]

[2014-08-27 22:48] #28 closed, assigned to nobody

[2014-08-27 22:49] #27 closed, assigned to nobody

[2014-08-27 23:22] navisingh opened #29 "capturing scroll event in the editor."
Would be swell if you add a javascript handler to call back on web view scroll events with the scroll position.  Thanks.

[2014-09-02 21:12] richardortiz84 opened #30 "Demo app: Large"
Your demo app with the large amount of content in the editor does not scroll to the bottom of the content.

[2014-09-02 21:24] richardortiz84 opened #31 "Blockquote Padding"
If I put a padding of *0px (10px, 20px, etc) your code is automatically removing it

ZSSRichTextEditor.js: lines 428-430

Any reason why this was put in? I am commenting it out for the time being.

[2014-09-02 21:54] #31 closed, assigned to nobody

[2014-09-03 04:09] richardortiz84 opened #32 "Blockquote and Enter Key"
If I press enter while inside of a blockquote tag, it adds a new blockquote tag immediately after the original tag instead of just adding a br tag inside the existing tag.

[2014-09-09 16:52] #30 closed, assigned to nobody

[2014-09-09 16:52] #4 closed, assigned to nnhubbard

[2014-09-09 16:52] #29 closed, assigned to nobody

[2014-09-10 17:55] richardortiz84 opened #33 "Lost ability to select text"
It would appear that calculateEditorHeightWithCaretPosition inside the selectionchange event is causing the editor to no longer be able to select text. When you attempt to select text the selection goes away and cpu usage jumps up to 100%.

[2014-09-10 19:21] richardortiz84 opened #34 "Toolbar Options"
I noticed when I tried to turn on every toolbar item with the exception of a few, there were issues. If I tried adding everything, including paragraph, but exclude insert image and view source, I would see every toolbar item including the ones I excluded. After looking it appears your bitwise function is a little off.

In ZSSRichTextEdtior.h change the enum definition to the following:

[code]

an

[2014-09-10 22:29] navisingh opened #35 "Initial caret position?"
Right now the initial caret position for the editor is at the bottom of the text.  How does one make it the top of the text?

[2014-09-12 11:09] kurotsukikaitou opened #36 "The editor is not scrolling when creating a hidden new line"
Like the tittle said, the editor (I don't know which class is the html editor is) doesn't get scrolled when user create new line on the bottom of the visible area. The caret just looks like goes below the visible area without any scrolling to make the new position of the caret visible. For better picture, see the attached screenshot.
![ios simulator screen shot sep 12 2014 5 57 02 pm](https://clou

[2014-09-15 17:42] #33 closed, assigned to nobody

[2014-09-15 17:43] nnhubbard opened #37 "Allow getting of plain text"
It would be great if there was a way to get a plain text version of the editor contents.

[2014-09-15 17:43] #37 closed, assigned to nobody

[2014-09-16 06:55] ankitgupta1309 opened #38 "Not able to insert link"
I am entering the "url" and the ''title'', but it does not show up. I checked it is going inside the functions as told, but nothing comes up on screen. Help required asap.
Thanks

[2014-09-17 05:31] ankitgupta1309 opened #39 "Feature Request"
I want the "Insert Link" to work in such a way that when I enter a url and a Text, it should automatically be inserted on pressing "Insert". It should not wait for any selection.

[2014-09-17 07:17] #39 closed, assigned to nobody

[2014-09-18 05:42] #38 closed, assigned to nobody

[2014-09-18 05:47] ankitgupta1309 opened #40 "Webkit Scroll fails when returning to this view from another view"
So here's what is happening -

1. I press a button in the toolbar and I am presenting a controller.
2. I dismiss that view and when I return to this view and try to write text again in the next line, it gives me this error -

    ZSSRichTextEditor[47566:60b] *** WebKit discarded an uncaught exception in the       webView:shouldScrollToPoint:forFrame: delegate: <CALayerInvalidGeometry> CALayer boun

[2014-09-18 17:36] nnhubbard opened #41 "getText method does not seem to get all text."
Comment from a user:

1. During a selection of text, when I tap at "B"(bold) or any other functions, it doesn't apply the css to the selected text. It does work when you tap "B" first and start typing though, the css does apply.

2. When I am done, I try to use [self getText] to extract the text. But the text doesn't look great as there's no "space" in between the texts. You can see the effect fro

[2014-09-19 05:39] ankitgupta1309 opened #42 "AlertView Issue with iOS 8"
@nnhubbard
This is the view after I manually tap on the textfield.( Notice the frame)

![after tapping](https://cloud.githubusercontent.com/assets/6194315/4331136/0e2aefca-3fbf-11e4-8a31-da2c3ff1a58b.png)

This is the view once it is presented(before any tap is made manually, it does not become the first responder by itself)

![before tapping](https://cloud.githubusercontent.com/assets/6194315/433

[2014-09-19 08:16] johnnielin opened #43 "Select one word and set attributes not working"
I found it only worked when I selected multiple lines of text. If I just double click to select a word it won't work. Same result in the demo app. Also it'd fail if select one word and then try to insert a link, which may be the same problem though.

[2014-09-19 10:59] ankitgupta1309 opened #44 "Image Insertion from phone(UIImage Picker)"
Its a feature request. I want to import pictures from my phone or take a picture from camera and add it. Can you help me?

[2014-09-21 16:36] hayashi311 opened #45 "Update ColorPicker"
Please, update color picker.

http://hayashi311.github.io/Color-Picker-for-iOS/

[2014-09-23 07:16] ankitgupta1309 opened #47 "Adding Images place them in the next line but do not add a <br /> tag"
I select an image and add it. It works just fine. The images come up in the next line, which is as per required. But when it comes to the next line it should add a <br /> tag automatically. This does not happen.
Help needed. Thanks

[2014-09-25 13:21] causeidm opened #48 "Scrolls off screen - IOS 8"
Opened in landscape mode on iPad, iOS 8, the content scrolls up out of bounds of visible area and the zss tool bar as well.  The ios 8 keyboard and word suggestions are both where they should be.

Same code works perfect iOS 7

[2014-09-29 18:31] #48 closed, assigned to nobody

[2014-10-08 02:04] struggleypl opened #50 "Insert pictures cursor is blocked by the keyboard"
Need to take out photo albums and insert images, and the cursor will not is blocked by the keyboard

[2014-10-08 16:56] #22 closed, assigned to nnhubbard

[2014-10-29 17:25] nnhubbard opened #52 "insertImage:alt: does not seem to work"
Seems there is an issue with this method not working. Although the insert image button does work.

[2014-10-30 08:28] lichao666500 opened #53 "KeyBoard Question"
Sometimes when I try to edit it, the custom keyborad doesn't show, that's a strange problem.

[2014-11-06 07:39] nanziakun opened #54 "Important！After I copy and paste some text or images，continue editing will jump to top！！！"

[2014-11-12 09:05] Quarky opened #55 "Text does not wrap"
iOS 8 all iPads tested so far

![img_2797 4](https://cloud.githubusercontent.com/assets/1067156/5007574/f44eef16-6a07-11e4-9a73-72d2a884e6f8.PNG)

[2014-11-14 20:58] nnhubbard opened #56 "Active toolbar item no longer working"
For some reason, the toolbar items are not being activated when to tap on the corresponding elements.

[2014-11-14 20:59] nnhubbard opened #57 "Editing link doesn't work in iOS 8"
In iOS 8 it no longer works to edit a link. Either there were changes or there is a bug.

[2014-11-14 22:03] #53 closed, assigned to nobody

[2014-11-14 22:04] nnhubbard opened #58 "Using hardware keyboard should show toolbar at bottom of screen"
When connecting a hardware keyboard, there currently isn't any way to edit the HTML. The toolbar needs to stick to the bottom of the screen.

[2014-11-18 10:33] fabb opened #59 "Use CocoaPods for dependencies CYRTextView and Color-Picker-for-iOS"
Currently the Third Party dependencies are delivered with this repo. It could be served via CocoaPods by specifying the `dependencies` in the `podspec`.

You could still reference version 0.2.0 of `CYRTextView` if the newest version 0.4.0 is not compatible with your needs.
For the `Color-Picker-for-iOS` I think you use [this fork](https://github.com/incanus/Color-Picker-for-iOS). The [original rep

[2014-11-18 10:46] fabb opened #60 "Use inputAccessoryView for Keyboard Toolbar"
Is there a reason you do not use the ~~[`inputView`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIResponder_Class/#//apple_ref/occ/instp/UIResponder/inputView)~~ _`inputAccessoryView`_ to show a bar above the keyboard? There are some animation quirks with the current solution, i.e. in the demo when navigating into the "Standard" example, the keyboard animates from the ri

[2014-11-18 11:06] fabb opened #61 "Toolbar and Text Editor not Showing in Landscape on iOS 8"
Seems like this library does not yet adapt correctly for the [rotated coordinate system in iOS 8](http://stackoverflow.com/a/24153540/354018).
Part of this might be resolved by #60.

[2014-11-18 12:44] fabb opened #62 "Paragraphs result in <div> sometimes"
Sometimes the editor inserts <div> tags when inserting line breaks.
### Correct Handling
- Switch to HTML View, delete all content, and switch back to editor
- Press "P" toolbar button
- Type "Test", then Return, then "Test"
- => The HTML code looks like this:

[code]
### Wrong Handling 1
- Switch to HTML View, delete all content, and switch back to editor
- Type "Test", then Return, then "Test"
-

[2014-11-18 14:57] huang5556019 opened #63 "updateHTML sometimes not success"
I test found when html source include "'" need replace to "&#39;"
like this:
- (NSString *)removeQuotesFromHTML:(NSString *)html {
  html = [html stringByReplacingOccurrencesOfString:@"\"" withString:@"\\""];
  html = [html stringByReplacingOccurrencesOfString:@"“" withString:@"&quot;"];
  html = [html stringByReplacingOccurrencesOfString:@"”" withString:@"&quot;"];
  html = [html stringByReplacin

[2014-11-18 16:45] #60 closed, assigned to nobody

[2014-11-23 08:04] shtefcs opened #64 "Can be used in javascript ?"
Hi there, I see that some % of this WYSIWYG is written in `javascript`. Is that that it can be used as whole only with javascript ?

Peace,

[2014-11-23 23:44] #64 closed, assigned to nobody

[2014-11-24 12:57] fabb opened #65 "ZSSRichTextEditor in a Container View"
**Use Case**: A view with several `UITextFields` + a rich text input view.

**Tried Solution:** Put `ZSSRichTextEditor` into a container view.

**Problems:**
- The toolbar of `ZSSRichTextEditor` also appears when the text field becomes first responder
- The toolbar of `ZSSRichTextEditor` is not correctly placed above the keyboard, seems to be caused by a bottom tabbar.

[2014-11-26 08:46] fabb opened #68 "ZSSRichTextEditorToolbarBold == ZSSRichTextEditorToolbarItalic"
`ZSSRichTextEditorToolbarBold` and `ZSSRichTextEditorToolbarItalic` are represented by the same bit:

[code]

https://github.com/nnhubbard/ZSSRichTextEditor/blob/8235107b2b96b8e8de0235da91516fa1527a5e4d/ZSSRichTextEditor/ZSSRichTextEditor.h#L17

Seems like we're out of bits for an 32 bit integer.

I guess `ZSSRichTextEditorToolbarAll` and `ZSSRichTextEditorToolbarNone` should not be represented by

[2014-11-26 09:27] fabb opened #69 "Represent Formatting at Cursor via Toolbar Item Color"
In the readme image, the formatting toolbar items represent active formattings, e.g. when a selection is bold, the toolbar button becomes black:

https://camo.githubusercontent.com/3f9c01eba9c69d030a69faaa1a2e01a733244627/687474703a2f2f636c2e6c792f696d6167652f3369343134303367323030422f64656d6f2e676966

![image](https://cloud.githubusercontent.com/assets/153960/5198879/ce648bda-7556-11e4-9b41-e1097

[2014-11-26 09:29] #57 closed, assigned to nobody

[2014-11-26 09:30] #56 closed, assigned to nobody

[2014-11-26 09:32] #50 closed, assigned to nobody

[2014-11-26 09:32] #42 closed, assigned to nobody

[2014-11-26 09:32] #34 closed, assigned to nobody

[2014-11-26 10:25] fabb opened #70 "0.5.2.1: The Keyboard Appears, Disappears and Appears Again"
Reproduction Steps:

* Start the example project on iOS 8 iPhone 6 and open the "Large" example
* Dismiss the keyboard
* Tap into the text area
* => The keyboard appears, and disappears again immediately. Sometimes it appears again afterwards

This behavior is new since 0.5.2.1

[2014-11-26 10:52] fabb opened #71 "Use WKWebView"
`WKWebView` is new in iOS 8 and provides among other things better scrolling performance and a better interface between client app and javascript.

Using `WKWebView` would make it necessary to drop support for iOS < 8.

Other libraries like `ECSlidingViewController` drop an iOS version, make a major version bump, and still provide bugfixes for the older version. This could be done for `ZSSRichText

[2014-11-26 16:36] #61 closed, assigned to nobody

[2014-12-03 18:03] #71 closed, assigned to nobody

[2014-12-04 09:41] #20 closed, assigned to nnhubbard

[2014-12-04 09:41] #63 closed, assigned to nobody

[2014-12-11 11:47] zhangxiaochuan opened #73 "The placeholder is not work"
I modified the “ZSSDemoList.m” to test setting placeholder function, but I found it not work. But if I init ZSSPlaceholderViewController befor clicking the cell, just doing pushViewController while click the cell when I get into ZSSPlaceholderView at second time, i will see the placeholder.

[2014-12-11 16:44] #73 closed, assigned to nobody

[2014-12-28 18:30] TheMashupApp opened #74 "Prepend custom toolbar items before built-in editor toolbar items"
thanks for a great project...

From the examples it seems that any custom toolbar items are appended after the editor toolbar items... is it possible to prepend?

[2015-01-21 23:41] eikebartels commented on #70
Any news about this issue?

[2015-01-21 23:50] nnhubbard commented on #70
Have not even had a chance to look into this. If you have a chance to look into it, that would be great!

[2015-01-21 23:51] eikebartels commented on #70
Do you know where about? I can't find any firstResponder inside the hole project

[2015-01-21 23:57] nnhubbard commented on #70
Pretty sure it is a javascript issue as I remember this being a problem in the past.

[2015-01-26 09:46] todaylover opened #76 ""dismissAlertView" just dismiss alertView when iOS8 it should be UIAlertController"
[code]

and maybe should use [[NSRunloop MainRunloop] runUntilDate:date] waiting animation completion

[2015-01-28 06:06] adamtootle opened #77 "Replacing selected text seems to rarely work"
Reproducible in the demo app:

1. Double-tap to select a word
2. Begin to type a new word.

Expected behavior is for the selected word to be replaced with the new text. Instead it seems to almost always jump the cursor to the front of the select and begins to type there.

[2015-02-14 15:38] michalciolek opened #80 "Insert links"
When user trying insert links without selecting text, the links don't appear...
I thing library should insert URL or title into `<a>` tag (e.g. `<a href="URL">URL or title</a>`)and inserts it into editor.

[2015-03-05 11:17] S2V opened #81 "How change editor background color ?"

[2015-03-05 18:10] nnhubbard commented on #81
You need to change the background color using CSS in the .html file that is loaded for the editor.

[2015-03-05 18:10] #81 closed

[2015-03-09 20:30] pang0018 commented on #80
~michalciolek

I ran into the same issue. I modified the zss_editor.insertLink function in ZSSRichTextEditor.js to be

zss_editor.insertLink = function(url, title) {
    zss_editor.restorerange();
    var html_code = '<a href="' + url + '">' + title + '</a>';
    zss_editor.insertHTML(html_code);
}

Use at own risk!

[2015-04-01 08:34] rajinderpaul commented on #22
Yes. I am still facing the keyboard issue in iOS8, when pushing the viewController on iphone6 simulator.

[2015-04-10 10:16] zhouxiaowei commented on #44
PFFile What's this?

[2015-06-14 23:07] Teknoman117 opened #82 "Unable to press some buttons on the toolbar while presented in page sheet"
I've included ZSSRichTextEditor into an iOS app i'm working on.  So, I happened to notice something interesting today.  If a view controller subclassing ZSSRichTextView is modally presented in a page sheet (iPad) while the iPad is in landscape mode, some buttons on the toolbar are not usable.  I tried changing the enabled buttons, but in the event there are more than 5 or 6, some buttons like text

[2015-06-14 23:11] Teknoman117 commented on #82
It's easy to replicate with the existing source demo project, just replace ZSSDemoList.m:104 with this

[code]
        ZSSDemoViewController *demo1 = [[ZSSDemoViewController alloc] init];
        //[self.navigationController pushViewController:demo1 animated:YES];
        demo1.modalPresentationStyle = UIModalPresentationPageSheet;
        [self presentViewController:demo1 animated:YES completion:

[2015-06-16 05:25] nnhubbard commented on #82
I have seen issues like this on iPad and presenting as a page sheet. Will work on looking into the issue.

[2015-06-16 07:25] westice007 commented on #70
I also meet this problem, Who has the solution？

[2015-06-23 20:52] nnhubbard commented on #77
This is now fixed.

[2015-06-23 20:52] #77 closed

[2015-06-23 21:12] nnhubbard commented on #80
@pang0018 - Really not sure how that code would help.

[2015-06-24 13:26] pang0018 commented on #80
Well link inserting was not working on my device when I cloned your project. If there is something better I am all ears!

[2015-06-24 15:38] nnhubbard commented on #80
Inserting links works correctly. What issues are having?

[2015-06-24 19:07] pang0018 commented on #80
I don't recall, It was over 3 months ago. We ended up not using the link insertion part so it didn't matter. When we decide to use that I will post what issues I am having, if any.

[2015-07-09 10:14] tinhbka opened #84 "your source is very cool, but now how to custom inputView for keyboard of editor (webview). please suggest me. tks so much!"

[2015-07-09 10:15] #84 closed

[2015-07-09 10:15] tinhbka opened #85 "inputView"
your source is very cool, but now how to custom inputView for keyboard of editor (webview). please suggest me. tks so much!

[2015-07-09 15:38] nnhubbard commented on #85
Not exactly sure what you mean...

[2015-07-10 01:06] tinhbka commented on #85
i want to custom input view for webview, like emoji keyboard, so suggest me how to set inputView for uiwebview tks

[2015-07-15 05:30] yuklai opened #86 "setHTML loads the HTML but scrolls to the bottom of the html"
Hi there,
When I call `setHTML` the webview would scroll to the bottom of the HTML if the content is larger than the webview. Anyone notice this too or know how to prevent it?

Thanks!

[2015-07-26 19:33] D-32 commented on #70
Any updates on this?

[2015-07-26 22:50] nnhubbard commented on #70
Nope, none yet. No time to even check into it. Really looking for some extra help on this project..

[2015-07-26 23:39] D-32 commented on #70
Yeah, I know that.
When removing `zss_editor.enabledEditingItems(e);`on line 42 inside the js file it seems to work. Not exactly sure why we're calling this function here. Do you know why that should be needed there?

[2015-07-27 05:40] BluePick opened #88 "Remove format option not working"
- (void)removeFormat {
    NSString *trigger = @"zss_editor.removeFormating();";

    [self.editorView stringByEvaluatingJavaScriptFromString:trigger];
}

not removing any formating..... ;(

[2015-07-28 10:42] WeeTom opened #89 "Any plan to support the general CHECKBOX?"
see, we have <input type="checkbox"/> here, but ZSS does only show without actions.
So really need some help here~

[2015-07-28 15:33] nnhubbard commented on #85
There isn't a supported way to set the inputView for a webView. We had to do it a different way.

[2015-07-28 15:33] #85 closed

[2015-07-29 11:15] luvcjssy opened #90 "Convert html to plaintext"
When I copy a paragraph from other website. That html text contain style css inside html tag (Ex: <div style="color:red">Test</div>). How I can convert that text to plaintext (Ex: Test)

[2015-07-29 16:34] nnhubbard commented on #90
That is pretty much how all WYSIWYG editors work. They bring in the styles of their copied source. This isn't something that we are interested in taking the time to support.

As an alternative you could paste the content into the Source editor.

[2015-07-29 16:34] #90 closed

[2015-07-29 16:34] nnhubbard commented on #89
I am really not sure what you mean..

[2015-07-29 16:37] nnhubbard commented on #88
It does work. I just tested it in the demo project.

What is not working for you? It will remove formatting, e.g. bold, italic, etc. Not links.

[2015-08-20 22:20] stevethedude opened #91 "Trying to use ZSSRTE in a project, getting these errors"
Excuse my lack of knowledge, because I'm a bit of a noob, but I stumbled across this great library and thought of the perfect use for it in a project I've been working on. I've imported it with CocoaPods. However, when I make a new class with subclass ZSSRichTextEditor, I get these errors:
![errors](https://dl.dropboxusercontent.com/u/93772862/Screen%20Shot%202015-08-20%20at%205.14.45%20PM.png)

C

[2015-08-20 22:24] stevethedude commented on #91
Ah, solved by using an Objective-C class instead of a Swift class. I'd still love some extra documentation though.

[2015-08-20 22:24] #91 closed

[2015-08-21 04:18] stanleyfok opened #92 "placeholder not working?"
seems cannot set placeholder?

[2015-08-24 09:59] 13638665712 opened #93 "How to import pictures from my phone ?Thanks"

[2015-08-27 02:11] #93 closed

[2015-08-31 03:18] abhishekgoyal12 commented on #38
Use this code and it will insert the link without selecting any text

zss_editor.restorerange();
    var html_code = '<a href="' + url + '">' + title + '</a>';
    zss_editor.insertHTML(html_code);

[2015-09-07 04:58] tinhbka opened #94 "deleteBackward ?"
Can us create delete funtion like deleteBackward of uitextview ? Please suggest me some solution!

[2015-09-09 03:14] szl-926929 commented on #80
I have the same question!!

[2015-09-09 06:01] szl-926929 commented on #80
insert links without selecting text，i get next content:
<p>This is a test of the <strong>ZSSRichTextEditor</strong> by <a title="Zed Said" href="http://www.zedsaid.com">Zed Said Studio</a>
</p>
<p>
    <br />
</p>

[2015-09-09 06:19] szl-926929 opened #95 "not select text，insert link not work， input，the view always shake"

[2015-09-09 07:05] rahulparikh opened #96 "how to dissable autocorrect keyboard?"
Hello,

I want to disable auto correct keyboard fort this editor is this possible ?

[2015-09-09 07:26] nnhubbard commented on #95
Not really sure what you mean...

[2015-09-09 07:32] szl-926929 commented on #95
if i insert a link。APP show a alter view。i input url and Title.but,it do not work. and if i insert an image. then, i input text, the input view shake  everytime when i insert text.
my english is pool. i'm sorry .
That are related to the project implementation notes? So, I can easily understand and modify the source code

[2015-09-21 12:33] hammyhamza opened #97 "can we change font-family of the selected text"

[2015-10-01 19:18] neowinston opened #98 "Keyboard not showing under iOS 9"
It shows fine under iOS 7 to 8, by using:

 **self.editorView.keyboardDisplayRequiresUserAction = NO;**

But it's not working on iOS 9.

Is there a fix for this?

Thanks!

[2015-10-07 12:27] parthpatel1105 commented on #36
I got same issue after add image and start to write text very near by image. Can you give proper solution?

[2015-10-23 12:36] Milan3792 commented on #92
Hey stanleyfok,
Did you find anything for adding placeholder?

[2015-10-28 19:10] michaelloistl opened #99 "ERROR ITMS-90060: The value for the key CFBundleShortVersionString ‘0.5.2.1’ in the info.plist file must be a period-separated list of at most three non-negative integers"
<img width="590" alt="submission error" src="https://cloud.githubusercontent.com/assets/1968209/10799961/7da9a16c-7da7-11e5-840e-f7b9b6085ae2.png">

[2015-10-28 20:42] nnhubbard commented on #99
This should have nothing to do with `ZSSRichTextEditor`.

[2015-10-28 20:42] #99 closed

[2015-10-28 21:05] michaelloistl commented on #99
ZSSRichTextEditor's info.plist would be the only one in my project that has the version ```0.5.2.1```. I would also have thought that this shouldn't have any impact but it looks like there have been some changes in the submission process. Once I remove ```ZSSRichTextEditor``` from my project I can submit without any issues. So it's most likely that this issue is related to ```ZSSRichTextEditor```'

[2015-10-28 21:21] nnhubbard commented on #99
Why are you including the example project `info.plist` file in your project? You can just manually change the version number to match your app's version number.

[2015-10-28 21:24] michaelloistl commented on #99
Not including the example project. Just using the cocoapod and the info.plist gets created with the pod. The invalid version number is part of your podspecs  ```s.version = "0.5.2.1"```

[2015-11-06 00:28] lenlenlen opened #100 "My app using ZSSRichTextEditor has been rejected on App Store."
Hi, Nic Hubbard.
Thank you for making a great code.

I want to one question.
Today, My app using ZSSRichTextEditor has been rejected by the App Store.

It was this message.
//////////////////////////////////////////////////////////////////
2.5 - Apps that use non-public APIs will be rejected
2.5 Details

Your app misuses UIWebBrowserView private class, which is a violation of the App Store Review

[2015-11-06 13:21] hagile commented on #92
+1

[2015-11-06 13:21] hagile commented on #98
Have you able to fix it?

[2015-11-06 13:22] hagile commented on #54
+1

[2015-11-06 13:23] hagile commented on #96
@rahulparikh , are you able to achive this?

[2015-11-06 13:56] neowinston commented on #98
Yes, I fixed it. But I can't remember what I did. I'm trying to figure it out.

[2015-11-06 13:58] hagile commented on #98
@neowinston, please do let me know if you found the solution :+1:

[2015-11-06 14:02] neowinston commented on #98
Sure, I'm on it.

[2015-11-06 14:22] neowinston commented on #98
Sorry, couldn't find my fix now, but I assure you that it's woking under iOS 7, 8 and 9. Can try again later.

[2015-11-10 08:55] ysdokok opened #101 "I have some qs"
First, I enter the text and pictures ,then I entered in the middle of the text,Then again at the bottom of the screen to enter text will appear jitter. Could you look at it ?

[2015-11-10 09:33] LengBinBin opened #102 "a question about change font size"
I have change `zss_editor.setHeading` method  implementation to `document.execCommand('fontSize', false, heading );
`
but got an new issue

[code]

I want to know why can not get result like `<font size= "3">编辑文字</font>` .

[2015-11-10 10:37] LJJ commented on #70
Probably I figured out this problem.
$(window).on('touchend', function(e) {
                 if (!zss_editor.isDragging) {
                 zss_editor.focusEditor();
                 }
                 });
focusEditor ensures we move the cursor to the end of the editor, somehow it will disturb selection when you tap text area at first time

[2015-11-10 16:29] nnhubbard commented on #70
@LJJ Are you able to test the fix and submit a pull request?

[2015-11-13 09:52] michaelloistl opened #104 "Inserting link doesn't work"
When inserting a link it outputs 'insert link' in the console, however no link is getting inserted in the text area. That might be related to #95.

[2015-11-17 11:54] hagile opened #105 "How to get html text with font?"
I'm using `[self getHTML]` of `ZSSRichTextEditor` to get html string. Its works great. But now at point, I need to set font for the same text and to get html text belonging to that particular font. Is it possible? Any luck?

[2015-11-17 16:17] nnhubbard commented on #105
I can't think of a way that you could do this without some additional features being added.

[2015-11-18 08:43] hagile commented on #105
I'm not getting you.

Currently, you have set some font for the textview. But when I get the text out of it, its not containing font inside that html? And when I use, `setHTML:` method to set html text back, it also works well. So this is something strange. Any thoughts on this?

[2015-11-18 08:44] hagile commented on #105
@nnhubbard, please check this Stackoverflow link for more details: http://stackoverflow.com/questions/33758040/how-to-format-html-string-with-font-for-zssrichtexteditor

[2015-11-18 17:06] nnhubbard commented on #105
The editor is styled using the following:

[code]

This is the same thing that and browser does, is set some default styling for the content.

[2015-11-19 04:56] hagile commented on #105
Can you just write down a code to export html text to a label with the same font as in `ZSSRichTextEditor`?

[2015-11-19 07:45] nnhubbard commented on #105
Just set the `UILabel` font to Arial. That is all you would have to do.

[2015-11-19 07:45] #105 closed

[2015-11-19 08:04] hagile commented on #105
Ok thanks, @nnhubbard but what if I am using some other custom fonts?

[2015-11-19 19:09] nnhubbard commented on #105
`ZSSRichTextEditor` wasn't necessarily designed to do what you are wanting. You will have to come up with your own solution for this.

You could also use an `NSAttributedString` with your `UILabel` and then put the HTML into that.

[2015-11-20 08:41] hagile commented on #105
@nnhubbard, yes currently I'm doing that thing only.

I'm converting html string to attributed string. But it doesn't contains font. Thus, its showing me some other font then in `ZSSRichTextEditor`. Any thoughts on this?

[2015-11-20 16:32] nnhubbard commented on #105
You would have to show me an example project so I can know what you mean.

[2015-11-24 04:04] #100 closed

[2015-11-24 04:30] nnhubbard commented on #100
Did you get it approved?

[2015-11-25 01:58] zhangzhang86 commented on #100
Did you get it approved?

[2015-12-11 10:29] aloifolia commented on #89
I am not sure whether I understand WeeTom. But I just came across this post when I googling for "ZSSRichTextEditor checkbox". So what I would like to have is a basic checkbox functionality, similar to the one you can find in the Notes application. In order to make this useful for me, the controller would have to tell me whenever the user clicks (un-)checks a box and, vice versa, I would have to be

[2015-12-14 07:41] westice007 opened #106 "Large Textview Keyboard Question."
When I click on Image , Sometimes the keyboard can't focus also can't input anything and auto scroll to top.

[2015-12-15 06:51] WeeTom commented on #89
@aloifolia sure

[2015-12-23 11:42] coderrat opened #107 "TextEdit Area Flickers (May be scrolls up and then down)"
I really appreciate your effort for this project. Its simply awesome.

I am just trying with demo apps Large option. Steps to reproduce flicker

1. Select Large From List
2. Once screen school to bottom, press return key
3. Type anything, Screen Flicker
4. After this any return key and type same repeats

[2016-01-21 09:06] aloifolia commented on #89
@nnhubbard So, do you have any information concerning the general future support of html checkboxes (or radio buttons)?

[2016-01-21 17:19] nnhubbard commented on #89
@aloifolia I currently have no time to support this project anymore. Looking for someone to take over, but no one has stepped up.

[2016-01-22 08:38] aloifolia commented on #89
@nnhubbard All right then. Maybe I will just use a purely Javascript based alternative like TinyMCE, then, since this will ease the switch to a hybrid app should I decide to dare this endeavour in the foreseeable future.

[2016-01-25 09:33] haigowtham opened #108 "How to use block quote"
Is there any way to use block quote in this app.

[2016-01-25 09:47] haigowtham commented on #32
How to implement block quote ??can you guide me

[2016-02-03 08:58] hammyhamza commented on #17
Is there any other workaround for this

[2016-02-03 16:16] nnhubbard commented on #17
Did you get a rejection? If so, what did they say?

[2016-02-03 16:35] hammyhamza commented on #17
Build uploaded to iTunes have an issue:

Non-public API usage:
The app contains or inherits from non-public classes in (App Name): UIWebBrowserView

[2016-02-10 14:02] kostastsi opened #110 "Pressing (Un)Ordered list, toolbar icon is not changing status"
While pressing the unordered or ordered list toolbar button, the action takes place correctly, but the toolbar is not updating its status (see enabledEditingItems). Please provide any advice or fix it.

[2016-02-10 14:07] kostastsi opened #111 "Possible crash - Wrong behaviour in (un)ordered list and headings"
Press (un)ordered list toolbar icon. Then try to apply any Heading (1-6). The Heading has different behaviour, as it continues to apply its 'status' till the text is not visible (e.g. H6) or the text becomes too large(e.g. H1). This has as a result, the application to crash. Please provide any help or fix on this.

[2016-02-10 14:12] kostastsi opened #112 "Toolbar button status (black or blue colour) does not change on selected text"
Write any text you want. Then, select a part of it and press any style button, for example bold one.The selected text turns into bold style but the button remains blue. If you deselect the text and then select it again, works fine, by showing the bold button black. Same behaviour is replicated while selecting a bolded text and try to unbold its style. Please provide any advice or fix.

[2016-02-12 17:00] obuseme commented on #104
I'm experiencing this too.

[2016-02-15 06:17] angBiu commented on #112
I have the same problem.If you have solve it,please share it.Thank you.

[2016-02-15 10:10] kostastsi commented on #112
No, i haven't solved it. I am waiting for a possible fix too.

[2016-02-15 14:39] mylovetop opened #113 "how to put ZSSRichTextEditor into my ViewController?"
how  to put ZSSRichTextEditor into my ViewController
i try this:
[code]
but report error,
please help! thanks!

[2016-02-15 16:45] nnhubbard commented on #112
Happy to take pull requests for this. I just don't have time right now to address the issue.

[2016-02-15 16:46] nnhubbard commented on #113
You need to subclass `ZSSRichTextEditor` instead of adding it as a subview. See the examples provided.

[2016-02-15 16:46] #113 closed

[2016-02-16 01:50] mylovetop commented on #113
my custom viewController must be inherit the ZSSRichTextEditor？
i want to add ZSSRichTextEditor into my custom viewController, how to do
thanks!

[2016-02-16 06:12] nnhubbard commented on #113
Yes, it must inherit from `ZSSRichTextEditor`. It was design to completely take over as view controller, not be a subview.

[2016-02-20 03:00] mylovetop commented on #113
i set my project the following：
`[self.navigationController setNavigationBarHidden:YES animated:NO];`
i custom the top of `NavigationBar`,
how to do in the `ZSSRichTextEditor`  ?
my custom the top of `NavigationBar` can not cover the `ZSSRichTextEditor`  `s a part of content.
thanks!

[2016-02-21 04:31] nnhubbard commented on #113
Not exactly sure what you mean...can you show a screenshot?

[2016-02-21 06:16] mylovetop commented on #113
thanks! i solve it.

[2016-03-02 14:18] kcrawded commented on #112
iOS 8.3 works just fine. But on iOS 9.0 and higher same problem as described above.

[2016-03-18 07:52] qqii77 opened #115 "Apps that use non-public APIs will be rejected"
Your app uses or references the following non-public APIs, which is a violation of the App Store Review Guidelines.

Specifically, your app is misusing of UIWebBrowserView private class.

The use of non-public APIs is not permitted in the App Store because it can lead to a poor user experience should these APIs change.

2016/03/16  submited

[2016-03-21 05:38] angBiu commented on #112
The zss_editor.setUnderline and zss_editor.setStrikeThrough cannot contain in one word!

[2016-03-21 20:40] nnhubbard commented on #112
@angBiu Not sure what you mean.

[2016-03-25 06:14] gilgold commented on #115
Any update on this? This is kind of a showstopper for me - I need to know if apps using ZSSRishTextEditor can be submitted to the app store.

[2016-03-25 09:09] Ewithome opened #116 "Can display images"
Images will display HTML.I tried not be displayed.Don't know there is no such.
Don't know there is no such function

[2016-03-25 12:53] nnhubbard commented on #115
Currently I have no fix for this, as I do not have time to work on `ZSSRichTextEditor` right now. If someone has a pull request to fix this it would be appreciated.

[2016-03-25 12:55] nnhubbard commented on #116
I am not really sure what you mean.

[2016-03-28 02:46] angBiu commented on #115
Where to use the non - public API? Anyone can show?Thanks！

[2016-03-29 02:43] angBiu commented on #112
@nnhubbard  Sorry,I can't express it clearly.When you set the word with the style 'underline' and 'strikeThrough',input some words,then you set the style 'underline' or 'strikeThrough',the words style will disappear.Sorry for my poor English.Thanks.

[2016-03-31 14:49] medisean opened #117 "Write it with swift"
Could you support a swift version? And can you add carthage usage in README.

[2016-03-31 16:55] nnhubbard commented on #117
As mentioned in the README, I don't have any time to work on ZSSRichTextEditor. Looking for anyone to help.

[2016-04-01 01:47] #117 closed

[2016-04-03 15:09] dickhahn commented on #92
<body onLoad="zss_editor.init();">
      <div id="zss_editor_content" style="width: 100%; height: 100%; -webkit-overflow-scrolling: touch; overflow: auto;" contenteditable="true" placeholder="Type something..."></div>
      <div id="zss_editor_footer"> </div>
  </body>

[2016-04-03 15:22] dickhahn commented on #92
in editor.html

	<div id="zss_editor_content" style="width: 100%; height: 100%; -webkit-overflow-scrolling: touch; overflow: auto;" contenteditable="true" placeholder="Type something..."></div>
	<div id="zss_editor_footer"> </div>

add "placeholder" property to zss_editor_content div and set it value what u want,then use css to control it(for example:#zss_editor_content:empty:before{content: attr(

[2016-04-03 21:56] kcrawded77 opened #118 "Colored text doesn't work when use copy/paste"
Type text, apply text color, copy/paste colored text.
Observed: black text is pasted.
Expected: colored text should be pasted.

[2016-04-14 00:49] gabceb commented on #115
Some more info on the non-public apis being used and where they are would greatly appreciated

[2016-04-14 06:23] nnhubbard commented on #115
The issue is in `ZSSRichTextEditor.m` starting with line 17. It is a hack for `UIWebBrowserView` so that it won't show the default bar above the keyboard.

[2016-04-19 02:14] zeffon commented on #115
Is it not the right time to add this editor for my app to submit AppStore?

[2016-04-19 02:18] angBiu commented on #115
I have submit AppStore successfully!

[2016-04-19 02:21] zeffon commented on #115
@angBiu Could you tell me how can you do that?

[2016-04-19 02:23] angBiu commented on #115
Perhaps the auditor did not find this problem @_@!

[2016-04-19 02:27] zeffon commented on #115
@angBiu You are so lucky!

[2016-04-21 10:26] PraveenChellenkula opened #120 "Tool bar not visible"
Toolbar with control buttons are not visible as in attached screenshot. Do we have any known fixes please.

![simulator screen shot 21-apr-2016 3 59 34 pm](https://cloud.githubusercontent.com/assets/2841833/14705908/826f6b0c-07d9-11e6-841c-82f0841330ab.png)

[2016-04-21 19:03] nnhubbard commented on #120
You are saying it isn't working with the demo project? What version of iOS?

[2016-04-22 04:49] PraveenChellenkula commented on #120
Its working with demo project. But when I integrate in my project, toolbar is not coming (iOS 9.3).

[2016-04-22 15:28] nnhubbard commented on #120
Then you must have done something different when integrating it into your project. Did you follow all of the instructions in the README?

[2016-04-23 05:40] PraveenChellenkula commented on #120
Hi Hubbard,
I integrated as per README file and same result in iPhone. But if I run in iPad toolbar options are coming.
Any idea on what may be causing the issue in iPhone.
Thanks for your help.

[2016-04-23 05:59] PraveenChellenkula commented on #120
Hello Hubbard,
Issue was due to keyboard notifications not called due to silly mistake at my end.
Sorry to bother you and once again thank you very much for your help.

[2016-04-24 20:05] #120 closed

[2016-05-04 02:07] codwam commented on #99
It should be changed to another version while I use cocoapods has the same problem.
@nnhubbard

[2016-05-04 13:58] halpz opened #121 "Can this be used as just a UITextView?"
Can this be used as just a UITextView component dropped into an existing view controller and not a whole UIViewController of itself?

[2016-05-04 14:29] nnhubbard commented on #121
No. `ZSSRichTextEditor` is a UIWebview which allows for the formatting of content, viewing of HTML, export of HTML, etc.

[2016-05-04 15:45] halpz commented on #121
what i mean is can I use this component outside of the view controller? say if i wanted a UITextfield above the rich text editor?

[2016-05-04 15:45] nnhubbard commented on #121
No, it currently only works as a viewController subclass.

[2016-05-04 15:45] #121 closed

[2016-05-08 03:07] awuu commented on #44
@nnhubbard I think he means to download image for only once and load it from device (not the Internet) from now on, which leads to save the cellular flow and time.

[2016-05-10 07:21] rvishal1991 opened #122 "Component not working with CocoaPod"
Podspec file is referring to old version of code.

[2016-05-15 06:33] masong2012 commented on #98
1) Keyboard will Disappear when TextEditor has many newline,and I can't Edit it any more
2)It locate the last row in Editor frequently, however i finger locate in.
Some people encountered such a problem?

[2016-05-31 02:34] zongren commented on #122
+1,not working with cocoapods

[2016-06-02 16:34] nnhubbard commented on #122
I have no time to fix this issue, and I hate CocoaPods. Sorry, but you will have to manually install it.

[2016-06-02 16:34] #122 closed

[2016-06-06 10:10] ebetabox opened #124 "Dealing with HTML special chars"
Hi, have an issue dealing with HTML special chars / entities, not sure if is a bug or something I am missing.

When I call the "getHTML" method I do not get the special chars transformed into HTML representation (i.e ä char in this case). Is there anything I am missing?

[code]
Thanks,
Emilio

[2016-06-06 13:59] ebetabox commented on #124
Update: was my problem. I was using the wrong encoding on my side of the code, so this can be closed.

Leaving this here just in case someone stumps with this problem in the future:
http://stackoverflow.com/questions/15956698/nsattributedstring-initwithhtml-incorrect-character-encoding

[2016-06-06 14:00] #124 closed

[2016-06-07 15:07] lin493369 opened #125 "why in my app, toolbar have a black view?"
![simulator screen shot 2016 6 7 11 06 44](https://cloud.githubusercontent.com/assets/8255169/15863195/942f415a-2d04-11e6-9bc4-f5f8b8234bac.png)

[2016-06-07 15:53] nnhubbard commented on #125
Have you tried making your view backgroundColor white?

[2016-06-08 08:46] Punith1234 opened #126 "how to increase the space between toolbar button ios"

[2016-06-13 06:55] kakukeme opened #127 "how to change font and fontSize"
how to change font and fontSize

[2016-06-13 15:32] nnhubbard commented on #127
This can be changed in the CSS inside of `editor.html`.

[2016-06-13 15:32] #127 closed

[2016-06-21 16:38] changcode commented on #52
insertImage:alt:  button did working, but after insert it doesn't appear on the view. It just show blue question mark,

[2016-06-21 16:47] nnhubbard commented on #52
What code did it insert? Did you use an absolute URL?

[2016-06-21 16:48] changcode commented on #52
I found the reason, on iOS 9 we need to set on plist
 <key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>

[2016-06-27 01:42] Ewithome commented on #116
Will display pictures.
![c264b12e-dd8e-47da-a5f3-8df42e1d66fc](https://cloud.githubusercontent.com/assets/8252464/16366544/72834f46-3c4b-11e6-8578-5c688fb3aa19.png)

[2016-06-27 11:52] Punith1234 opened #128 "App got rejected from AppStore.."
My app got rejected saying -- use of non - Publice Api's

[2016-06-27 18:38] romanilchyshyn commented on #128
Probably because of #115.

[2016-06-27 20:04] nnhubbard commented on #128
If someone is interested in working to fix this that is great, I just don't have time to address it right now.

[2016-07-11 10:08] peebits opened #130 "Image is not dislay"
Please help

[2016-07-14 07:28] Deliany opened #131 "Mentions and hashtags support"
Are you planning to support mentions and hashtags? I mean fire event when user start typing word starting `@` or `#` symbol or change caret position to such word and ability to replace(or insert) autocompleted mention or tag

[2016-07-14 12:18] william205 opened #132 "ZSSToolbarInsertImageFromDevice Custom Order Crash"
When using a custom order with a select few bar button items, if I include ZSSToolbarInsertImageFromDevice I get a crash on:

self.toolbar.items = items; (line 715 in buildToolBar method)

Error:

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFConstantString view]: unrecognized selector sent to instance 0x100228460'

[2016-07-14 16:30] nnhubbard commented on #131
No, I really don't have time to work on this library right now. Feel free to submit a pull request!

[2016-07-15 10:46] william205 commented on #130
+1

[2016-07-15 10:48] william205 commented on #130
I have an issue with images not displaying, adding the first image is fine but then trying to add any more images just goes through the motions without displaying anything. Also updating images doesn't work.

[2016-07-15 12:06] william205 opened #133 "Ability to make everything within a p tag"
Feature request, is it possible to make it so that everything appears within a p tag?

[2016-07-16 12:59] william205 opened #134 "Can't insert more than one image"
I have an issue with images not displaying, adding the first image is fine but then trying to add any more images just goes through the motions without displaying anything. Also updating images doesn't work.

[2016-07-18 10:41] rvishal1991 opened #135 "Long text scrolling broken"
If you are adding long text then scrolling is not working properly.
Can you solve this issue?

[2016-07-20 10:05] xingze0308 opened #136 "question"
I use you zss_editor.removeFormating method
not delete the format.
How can I delete？

[2016-07-20 10:21] xingze0308 commented on #136
I use zss_editor.setBlockquote();
Now want to click on the button to get the reference style disappear
Could you please tell me how to get out of?

[2016-07-21 02:09] xingze0308 commented on #136
I have an issue with images not displaying, adding the first image is fine but then trying to add any more images just goes through the motions without displaying anything. Also updating images doesn't work.

[2016-07-21 02:27] xingze0308 commented on #134
- (void)imagePickerController:(UIImagePickerController *)picker didFinishPickingMediaWithInfo:(NSDictionary<NSString *,id> *)info{

    UIImage *selectedImage = info[UIImagePickerControllerEditedImage]?:info[UIImagePickerControllerOriginalImage];

    //Scale the image
    CGSize targetSize = CGSizeMake(selectedImage.size.width * self.selectedImageScale, selectedImage.size.height * self.selectedIm

[2016-07-21 23:06] william205 commented on #134
I noticed that not long after I posted the issue and forgot to update the issue. Thank you for the comment though.

[2016-07-21 23:06] #134 closed

[2016-08-01 10:50] swayam007 opened #137 "Unable to enter use both underline and strikeThrough formats"
1.Click on Text Editor (source view).
2.Enter some text
3.Select the underline format
4.Enter some text
5.select stricken format
6.Enter some text

In above scenario, Underline automatically disabled.

[2016-08-12 03:46] xingze0308 opened #138 "help."
Help.  Would you please tell me
How do you make the webview line And get the input focus 。
help  help help

[2016-08-23 03:46] lehom commented on #130
i launch the demo, also have this problem

[2016-08-23 11:40] william205 commented on #130
@lehom have a look at this and see if it helps you. https://github.com/nnhubbard/ZSSRichTextEditor/issues/134

[2016-08-24 12:37] imsrc21 commented on #130
Try removing [webView stopLoading] from ZSSRichTextEditor.m (- (void)webView:(UIWebView *)webView didFailLoadWithError:(NSError *)error)

In my case some times images went to fail block so other images also stopped loading because of stopLoading method in failure block

[2016-08-31 04:07] purplepeng commented on #132
@william205 I have the same problem,what's your solution?Thanks.

[2016-08-31 06:04] zjh0667 opened #139 "When the keyboard is closed, click the picture, the editor will automatically scroll to the top"
When the keyboard is closed, click the picture, the editor will automatically scroll to the top.
When the keyboard is opened, click the picture, the editor will not scroll.
How to let it not scroll?

[2016-08-31 13:38] william205 commented on #132
I managed to fix it by changing a line of code in the ZSSRichTextEditor.m source file.

Try going to the following method:

- (NSArray *)itemsForToolbar

Then find

// Image From Device
    if ((_enabledToolbarItems && [_enabledToolbarItems containsObject:ZSSRichTextEditorToolbarInsertImageFromDevice]) || (_enabledToolbarItems && [_enabledToolbarItems containsObject:ZSSRichTextEditorToolbarAll]))

[2016-08-31 15:57] nnhubbard commented on #132
Can you submit a PR for this?

[2016-08-31 16:59] william205 commented on #132
Pull request submitted

[2016-08-31 17:11] nnhubbard commented on #132
Merged. Thanks!

[2016-08-31 17:11] #132 closed

[2016-08-31 21:57] william205 commented on #132
No problem

[2016-09-01 03:04] purplepeng commented on #132
Thanks.
There also have a small problem. The `ZSSimageDevice.png` image was not placed in the same path with others.
![sourceimage](https://cloud.githubusercontent.com/assets/3256113/18154030/d7375f38-7033-11e6-82c4-1c2f44eee3e0.png)

[2016-09-01 13:09] william205 commented on #132
I will submit a pull request for that to.

[2016-09-01 21:35] william205 commented on #138
Can you explain what you mean in some more detail please?

[2016-09-02 16:09] william205 commented on #135
Could you provide some steps to replicate this please? I have just tried adding a large amount of text and scrolling worked properly with it.

[2016-09-02 16:13] william205 commented on #104
I have just tried replicating this issue and it is working for me.

[2016-09-02 17:25] rvishal1991 commented on #135
I will send steps..

Thanks and Regards,
--
Vishal Rana
iOS Developer @MobileFirst
skype id - vishal.rana1991

On 02-Sep-2016 9:39 pm, "Will Swan" <notifications@github.com> wrote:

[2016-09-02 17:58] william205 commented on #36
@kurotsukikaitou I believe that this has been fixed because I replicated your screenshot and had no issues with it, can you confirm if it has been fixed or not please?

@parthpatel1105 please can you also confirm if your issue is still present or not when using the latest version of the source?

[2016-09-02 18:10] #40 closed

[2016-09-02 18:16] william205 commented on #41
I am assuming these issues have been fixed because I have just tested all of them and the issues do not happen. I will close the issue.

[2016-09-02 18:16] #41 closed

[2016-09-02 18:43] william205 commented on #5
@richardortiz84 I have added your solution to the source and will push it to Github soon.

[2016-09-02 18:43] #5 closed

[2016-09-02 18:44] william205 commented on #25
@nnhubbard did you fix this?

[2016-09-02 18:45] nnhubbard commented on #25
Yes, see https://github.com/nnhubbard/ZSSRichTextEditor/blob/master/ZSSRichTextEditor/Source/ZSSRichTextEditor.h

[2016-09-02 18:45] #25 closed

[2016-09-02 18:47] #35 closed

[2016-09-02 18:50] william205 commented on #43
@johnnielin I believe that this has been fixed so I will close this issue.

[2016-09-02 18:50] #43 closed

[2016-09-02 19:00] #45 closed

[2016-09-02 20:43] #47 closed

[2016-09-02 20:49] william205 commented on #54
I have tried recreating this issue and I can't get it to jump to top after copy and pasting so I am going to close this issue.

[2016-09-02 20:49] #54 closed

[2016-09-02 21:28] william205 commented on #58
I believe I have created a fix for this issue, I will push it later this evening a long with a few other fixes. I have created a property called `alwaysShowToolbar` which when set to YES should keep the toolbar visible when a hardware keyboard is connected.

[2016-09-02 21:28] #58 closed

[2016-09-02 21:37] william205 commented on #69
I believe that this issue has been fixed as it is working with the latest source so I am going to close this issue.

[2016-09-02 21:37] #69 closed

[2016-09-02 21:41] william205 commented on #70
I believe that this issue has been fixed as I followed @fabb's reproduction steps and wasn't able to reproduce the issue on any of the simulator devices using iOS 8 or iOS 9. I will close this issue.

[2016-09-02 21:41] #70 closed

[2016-09-02 21:51] william205 commented on #80
I have just tested the links and they are working properly, I can not reproduce the issue you are encountering so for now I will close this issue. @szl-926929 @pang0018 @michalciolek if you can produce the exact steps you did when you came across this issue and I can reproduce the issue from those steps then I will re-open this issue.

[2016-09-02 21:51] #80 closed

[2016-09-02 21:56] william205 commented on #86
@yuklai I didn't create this but I am assuming it does this for convenience, I can see that some people will not want it to scroll to the bottom though so I will work on adding a property to allow you to choose whether it scrolls or not automatically.

[2016-09-02 21:59] william205 commented on #88
@BluePick I have just tested the remove format method and it works as it should. I will mark this issue as closed for the moment but if you explain in detail the issues you are having with it and let me know steps to reproduce the issue and I am able to reproduce it then I will re-open it.

[2016-09-02 21:59] #88 closed

[2016-09-02 22:02] william205 commented on #89
@aloifolia not sure if you still require this or not but I will work on adding a checkbox feature.

[2016-09-02 22:10] william205 commented on #92
I will add getting the placeholder feature working to my list of things to do.

[2016-09-02 22:11] william205 commented on #94
@tinhbka can you explain in a bit more detail what you would like and how you would like it to work please?

[2016-09-02 22:13] william205 commented on #95
@szl-926929 I have been unable to recreate this issue so I am going to mark it as closed for the moment but if you can provide some clear steps to reproduce the issue and I am able to reproduce it then I will re-open it.

[2016-09-02 22:13] #95 closed

[2016-09-02 22:14] william205 commented on #96
@rahulparikh @hagile I will add a feature for this to my to do list.

[2016-09-02 22:14] william205 commented on #97
@hammyhamza I will add a feature for this to my to do list.

[2016-09-02 22:16] william205 commented on #98
@neowinston @hagile @masong2012 I have just tried to recreate this issue and I wasn't able to so I am going to close this issue for now but if you can give me some clear steps to reproduce this issue and I am able to reproduce it then I will re-open it.

[2016-09-02 22:16] #98 closed

[2016-09-02 22:23] william205 commented on #101
@ysdokok I have been unable to reproduce your issue on any simulator devices or iOS versions so I am going to close this issue.

[2016-09-02 22:23] #101 closed

[2016-09-02 22:24] #102 closed

[2016-09-02 22:25] william205 commented on #104
@michaelloistl @obuseme I am going to close this issue for now but if you can provide clear steps to reproduce this issue and I am able to reproduce it then I will re-open it.

[2016-09-02 22:27] william205 commented on #106
@westice007 I am going to close this issue for now as it relates to fixes that are already on my list of things to do. I will let you know when these fixes are pushed.

[2016-09-02 22:27] #106 closed

[2016-09-02 22:29] william205 commented on #107
@coderrat I have been unable to produce this on any simulator devices so I am going to close this issue, I will keep my out for this issue as I am developing though in case it reappears.

[2016-09-02 22:29] #107 closed

[2016-09-02 22:32] william205 commented on #108
![screen shot 2016-09-02 at 23 30 45](https://cloud.githubusercontent.com/assets/9343487/18219935/72081f52-7165-11e6-8d63-eaf7e78d4259.png)

The circled button will give you block quote, the button to the right of it will remove the block quote.

[2016-09-02 22:32] #108 closed

[2016-09-02 22:34] william205 commented on #110
@kostastsi I have just tested this on all simulator devices and the unordered list button in the toolbar is changing status so I am going to close this issue for now. If you can provide clear steps on how to reproduce the issue again and I am able to reproduce it then I will re-open the issue.

[2016-09-02 22:34] #110 closed

[2016-09-02 22:36] william205 commented on #111
@kostastsi I have added this to my to do list and will hopefully have a fix pushed soon.

[2016-09-02 22:39] william205 commented on #112
@kostastsi I have been unable to reproduce this so I am going to close this issue.

@angBiu your issue to do with underline and strikethrough is in another open issue which I am looking into.

[2016-09-02 22:39] #112 closed

[2016-09-02 22:41] william205 commented on #115
I am going to work on a fix for this.

[2016-09-02 22:42] william205 commented on #116
@Ewithome I have been unable to reproduce this issue so I am going to close it for now. If you can provide clear steps to reproduce this issue and I am able to reproduce it then I will re-open the issue.

[2016-09-02 22:42] #116 closed

[2016-09-02 22:44] william205 commented on #118
@kcrawded77 I have add this to my to do list, hopefully will have a fix posted soon.

[2016-09-02 22:45] william205 commented on #125
@lin493369 I have been unable to reproduce this issue so I am going to close it for now, if you can provide clear steps to reproduce this issue and I am able to reproduce it then I will re-open it.

[2016-09-02 22:45] #125 closed

[2016-09-02 22:45] william205 commented on #126
@Punith1234 I will work on adding a feature for this.

[2016-09-02 22:46] william205 commented on #128
@Punith1234 I am going to close this issue because there is another open issue to do with this that I am currently working on a fix for.

[2016-09-02 22:46] #128 closed

[2016-09-02 22:47] william205 commented on #130
@lehom I am now working on a fix for the images.

[2016-09-02 22:47] william205 commented on #131
@Deliany I will work on adding a feature that fires an event when a word that starts with @ or # is typed.

[2016-09-02 22:48] william205 commented on #135
@rvishal1991 thank you, look forward to seeing them so we can get to the bottom of this.

[2016-09-02 22:50] william205 commented on #136
@xingze0308 I am going to close this issue because all of what you have said is either fixed or in other issues that have fixes in development.

[2016-09-02 22:50] #136 closed

[2016-09-02 22:50] william205 commented on #137
@swayam007 I have added this to my to do list, will hopefully have a fix pushed soon.

[2016-09-02 22:52] william205 commented on #139
@zjh0667 I have been unable to reproduce this, could you please provide clearer steps for reproducing the issue?

[2016-09-02 22:55] william205 commented on #32
![screen shot 2016-09-02 at 23 30 45](https://cloud.githubusercontent.com/assets/9343487/18220299/7a4eb4de-7168-11e6-845a-5ccb36b6fbe6.png)

@haigowtham the circled button will add a block quote.

@richardortiz84 I have been unable to reproduce this so I am going to close this issue for now.

[2016-09-02 22:55] #32 closed

[2016-09-02 22:56] william205 commented on #36
I am going to close this issue for now, but if anyone still has issues with this then comment and I will re-open the issue. @parthpatel1105 @kurotsukikaitou

[2016-09-02 22:56] #36 closed

[2016-09-02 22:56] #52 closed

[2016-09-02 22:57] william205 commented on #55
@Quarky I will look into this.

[2016-09-02 22:57] william205 commented on #59
@fabb I will have a look into this.

[2016-09-02 22:58] william205 commented on #62
@fabb I think that <p> tags should always be used for line breaks, I will have a look into this.

[2016-09-02 22:59] william205 commented on #65
@fabb I have added this to my to do list, hopefully will have a fix pushed soon.

[2016-09-02 23:00] william205 commented on #68
@fabb I will have a look into this.

[2016-09-02 23:01] william205 commented on #74
@TheMashupApp I will have a look into this.

[2016-09-02 23:01] #76 closed

[2016-09-02 23:01] william205 commented on #82
@Teknoman117 I will have a look into this.

[2016-09-02 23:05] #133 closed

[2016-09-03 09:39] rvishal1991 commented on #135
Sure

Thanks and Regards,
--
Vishal Rana
iOS Developer @MobileFirst
skype id - vishal.rana1991

On 03-Sep-2016 4:18 am, "Will Swan" <notifications@github.com> wrote:

[2016-09-03 22:58] william205 commented on #92
Placeholder is now working, you can set it using `setPlaceholder`.

    [self setPlaceholder:@"placeholder text"];

[2016-09-03 22:58] #92 closed

[2016-09-03 22:59] william205 commented on #97
@hammyhamza I have added a font button to the toolbar so that the font-family can now be changed. There is currently a limited amount of fonts but adding more fonts/custom fonts is on my list of things to do.

[2016-09-03 22:59] #97 closed

[2016-09-03 23:00] william205 commented on #131
@Deliany I have added this feature, you can receive these events using the following methods in your subclassed ZSSRichTextEditor:

    - (void)hashtagRecognizedWithWord:(NSString *)word {

        NSLog(@"Hashtag has been recognized: %@", word);

    }

    - (void)mentionRecognizedWithWord:(NSString *)word {

        NSLog(@"Mention has been recognized: %@", word);

    }

[2016-09-03 23:00] #131 closed

[2016-09-04 21:45] william205 opened #142 "Add support for custom CSS"

[2016-09-06 04:51] zjh0667 commented on #139
- (void)viewDidLoad
{
    [super viewDidLoad];

    self.title = @"Large";

    NSURL * url =[NSURL URLWithString:@"http://mp.weixin.qq.com/s?__biz=MzA3NzM0NzkxMQ==&mid=2655357958&idx=1&sn=2df64989123d851698c9e2dc1930a3d9&scene=2&srcid=0825reh8JJ1UpS4TIVNIkAj1&from=timeline&isappinstalled=0#wechat_redirect"];

    NSString * html = [[NSString alloc] initWithContentsOfURL:url encoding:NSUTF8StringE

[2016-09-06 14:07] pritamd20 commented on #139
Looks like this is due to something in zss_editor.calculateEditorHeightWithCaretPosition = function() { } . I have commeted out the code inside the function and it works.
Note : This might have knocked out something else but stops scrolling to top.

[2016-09-07 09:56] zjh0667 commented on #139
@pritamd20 I have commented out the code but it didn't work.The window still will scrolling to the top.If you did not open the keyboard, click the picture will scroll。

[2016-09-11 21:22] william205 commented on #139
@zjh0667 I will have a closer look at this with the code that you have provided, hopefully will have a fix for you within the next few days.

[2016-09-12 14:51] purplepeng opened #143 "How to remove the style of selected image border?"
Hi, i'm confused of how to remove the style of selected image border?In `ZSSRichTextEditor.js`or `ZSSRichTextEditor.m`? As the photo show below.
![db499f86-0ee2-4111-86ee-c2b9a03568b6](https://cloud.githubusercontent.com/assets/3256113/18440303/31fe4606-793b-11e6-85ba-d73dda5cb6bb.png). Thanks very much.

[2016-09-12 19:40] william205 commented on #143
@purplepeng to remove the border just delete the following style in the editor.html file.

    img.zs_active {
	    border: 2px dashed #000;
    }

You can't currently remove it from any of the other files or from a subclass of ZSSRichTextEditor however I am working on a custom css style feature which will enable this when it is complete.

[2016-09-12 19:40] #143 closed

[2016-09-13 06:36] purplepeng commented on #143
It works. Thanks. @william205

[2016-09-14 06:16] imsrc21 commented on #62
I am facing same issue and stuck between this <div> tag. Any progress on this or any idea how to solve this issue ?

[2016-09-16 17:04] william205 commented on #62
@imsrc21 I am currently working on fixing this, so far everything I have tried hasn't worked but I am still hoping to have this fix in the next commit that I do.

[2016-09-19 13:58] annphan commented on #130
@william205 Did you resolve this issue?

[2016-09-19 16:49] purplepeng opened #144 "Add content insets add webview's scrollview"
I want to add a subview at the top of editview as the following image.
![Uploading WeChat_1474302988.jpeg…]()

So I add a subview and set the scrollview's contentInset. In the `ZSSRichTextEditor.m`, I add the following code
` self.editorView.scrollView.contentInset = UIEdgeInsetsMake(108, 0, 0, 0);`.
How should i change the function in the `ZSSRichTextEditor.js`?

[code]

[2016-10-14 16:16] #142 closed

[2016-10-15 08:13] xiabob opened #146 "UIViewController not dealloc"
ZSSRichTextEditor.m    line1706
/*

     Callback for when text is changed, solution posted by richardortiz84 https://github.com/nnhubbard/ZSSRichTextEditor/issues/5

     */
    JSContext *ctx = [webView valueForKeyPath:@"documentView.webView.mainFrame.javaScriptContext"];
    ctx[@"contentUpdateCallback"] = ^(JSValue *msg) {

        if (_receiveEditorDidChangeEvents) {

            [self editor

[2016-10-15 12:56] william205 commented on #146
@xiabob where do you think weak self should be used? Do you want to submit a pull request for this?

[2016-10-15 13:15] xiabob commented on #146
__weak __typeof(self)weakSelf = self;
    ctx[@"contentUpdateCallback"] = ^(JSValue *msg) {

        if (weakSelf.receiveEditorDidChangeEvents) {

            [weakSelf editorDidChangeWithText:[weakSelf getText] andHTML:[weakSelf getHTML]];

        }

        [weakSelf checkForMentionOrHashtagInText:[weakSelf getText]];

    };

try this,it works for me.is three a retain cycle here?

[2016-10-27 02:54] zjh0667 commented on #139
@william205 Can you use WKWebView instead of UIWebView?

[2016-10-27 17:20] william205 commented on #139
@zjh0667 That shouldn't solve this issue however it could still be a good idea to switch to WKWebView due to better performance. I will try to get this done next week along with some other bug fixes and new features/enhancements.

[2016-10-27 17:22] william205 commented on #146
@xiabob I will try your solution.

[2016-10-28 05:11] amazing-longdd opened #147 "when i use 'addCustomToolbarItemWithButton' method add a button to toolbar"
[self.selectImageButton addTarget:self action:@selector(goToSelectImage:) forControlEvents:UIControlEventTouchUpInside];

[_richTextView addCustomToolbarItemWithButton:self.selectImageButton];

'goToSelectImage' this method doesn't work

[2016-11-03 17:16] william205 commented on #146
@xiabob I have just tried your solution and it is not working.

[2016-11-04 02:55] xiabob commented on #146
my question is this:
![](https://github.com/xiabob/Source/blob/master/Images/ZSSRichTextEditor/Snip20161104_4.png)
![](https://github.com/xiabob/Source/blob/master/Images/ZSSRichTextEditor/Snip20161104_2.png)
![](https://github.com/xiabob/Source/blob/master/Images/ZSSRichTextEditor/Snip20161104_5.png)
![](https://github.com/xiabob/Source/blob/master/Images/ZSSRichTextEditor/Snip20161104_6.png)
![]

[2016-11-15 07:26] rvishal1991 commented on #135
When you are writing long text and then last line is not visible.
it is hidden by keyboard toolbar.

[2016-11-16 10:08] amrit42087 opened #150 "HTML is hiding under Navigation bar."
I am using the editor in iPad Landscape mode.
Please see the image attached
![screen shot 2016-11-16 at 3 37 06 pm](https://cloud.githubusercontent.com/assets/11562827/20342988/b19fb714-ac12-11e6-9b51-079ace52fd6d.png)

[2016-11-16 17:00] nnhubbard commented on #150
This is correct behavior for a `UINavigationController` after iOS 7. If you don't want the content to go under the `navigationBar`, you need to make sure to set `navigationController.navigationBar.translucent = NO;`.

[2016-11-22 05:00] nrkotha opened #151 "ZSSRichTextEditor: When scrollview starts(above 4-5 lines in textview) text is flickering/blinking while editing and selecting"
when we enter more than 5 lines the scroll view starts and triggers custom method to position the scroll view. In this case on entering text in the new line(more than 5th line) the text flickering/blinking/shaking is happening. It is not looking good and it is not user friendly flow.

[2016-11-24 04:32] z624821876 opened #153 "Why can only add a picture？"
Insert a picture phone, add again, there is no effect?

[2016-11-28 02:22] zhangyxlo commented on #151
How do you solve. @nrkotha

[2016-12-07 07:03] LuKane opened #154 "ZSSRichTextEditor input text, scrollview will shock"
when we input some text by simulator keyboard, self.editorView.scrollView  will shock.
If you can not find this bug, try to do like this: input  a lot of text about 20 lines, bring the focus to the front, input some text,and bring the focus to the end, input some text(then the bug is showing)

[2016-12-08 08:37] nthieu90 opened #155 "ZSSBarButtonItem not change tint color after selected"
I run sample, it work fine, but add to my project it doe not work, tint color not change after selected.
Let me know what is wrong?

[2016-12-14 10:18] Homosum commented on #154
same problem, have you found way out?

[2016-12-16 04:22] hi-as-you commented on #94
How to limit the input the number of words。
`// Need way to remove formatBlock
console.log('WARNING: We need a way to remove formatBlock items');`

[2016-12-19 07:04] hi-as-you commented on #130
Find him and comment

// element.empty();

[2016-12-21 13:28] isabellyfd opened #157 "Overriding showInsertImageAlternatePicker not working"
Im working on a project that uses this text editor. Now im working on changing how users can insert a image through this editor. I was following the documentation and overriding the method - (void) showInsertImageAlternatePicker.

However this method has never run. Bellow there is my code:

#import <ZSSRichTextEditor.h>
#import "HTHorizontalSelectionList.h"
@interface EditorView :  ZSSRichTextEdit

[2016-12-28 05:00] Xenero commented on #44
@zhouxiaowei it's a Parse File. Look into parse.com open source library. It's a great tool for applications which are powered by online data.

[2016-12-30 23:44] Amindv1 commented on #115
This is huge, is it still an issue? You understand that no one can use this pod until this is fixed right? I don't understand how it was being used in the past, was this recently introduced?

[2016-12-30 23:48] gabceb commented on #115
FWIW We have been using this library on our React Native app since July w/o issues. Our app has been approved every time w/o rejections

[2016-12-31 00:12] Amindv1 commented on #115
@gabceb How many times have you submitted to the app store? I'm thinking of tackling this issue myself if it's actually a thing, but all info on it seems vague. I',m not even sure how I would 'fix' this issue.

[2016-12-31 00:13] gabceb commented on #115
We've submitted more than 10 or 15 times now

[2016-12-31 00:18] MartinSchultz opened #158 "Adding only 1 photo possible at a time"
I've been testing over and over, but so far I can only add one photo at a time. I need to leave the ZSS controller view and re-open it to be able to add another photo.

What happens is that when I add a photo and it appears in the view, I tap another time the add photo button, select the photo and then the photo won't appear in my text.

Any idea how to solve this?

Thanks
Martin

[2016-12-31 01:07] MartinSchultz opened #159 "receiveEditorDidChangeEvents causes massive delay"
I've enabled receiveEditorDidChangeEvents = YES so that I get a change event for the text to be able to be able to use a "dirty" flag for the text. Works fine if you don't add any image. But adding an image from the photo roll makes this so slow that after entering a single new character the device hangs for a second or so. (on iOS 10, iPhone 6).

Any idea how to solve this?

Thanks
Martin

[2017-01-03 22:52] william205 commented on #158
@MartinSchultz I am currently working on an improved images system that will allow more than one photo at a time, I will let you know when it is released.

[2017-01-03 22:54] william205 commented on #159
@MartinSchultz looks like we need to filter what gets passed when change events happen as images shouldn't need to be passed, if you get this solved then feel free to submit a pull request, if not then I will get working on a fix for this asap.

[2017-01-04 05:00] MartinSchultz commented on #159
I haven't solved it, would love to see a fix from you. 👍

[2017-01-04 05:01] MartinSchultz commented on #158
Awesome, thanks a lot!

[2017-01-05 02:51] wellswong1990 commented on #154
me too, after insert image, bring the focus to the bottom of the image, then use your finger scroll up, input some text at the botoom of the image, scrollview will shock, how to fix it?

[2017-01-05 03:00] wellswong1990 opened #160 "Input text after insert image , scrollview will shock"
After insert image, bring the focus to the bottom of the image, then use your finger scroll up, input some text at the botoom of the image, scrollview will shock, how to fix it?

[2017-01-05 03:28] wellswong1990 commented on #160
I can shoot a video for show my steps

[2017-01-05 03:36] wellswong1990 commented on #160
- (void)viewDidLoad {
    [super viewDidLoad];

    self.title = @"Standard";

    //Set Custom CSS
    NSString *customCSS = @"";
    [self setCSS:customCSS];

    self.alwaysShowToolbar = YES;
    self.receiveEditorDidChangeEvents = YES;

    // Export HTML
    self.navigationItem.rightBarButtonItem = [[UIBarButtonItem alloc] initWithTitle:@"Export" style:UIBarButtonItemStylePlain target:self ac

[2017-01-12 12:30] HelloWT commented on #158
Excuse me, can only add a picture above the problem solved?

[2017-01-18 18:09] cinder92 opened #161 "module for react native"
it would be `great`

[2017-02-10 09:56] zeeshanbiit opened #162 "Closing keyboard close all other buttons and labels"
when i close the keyboard my labels and button are close too why?

[2017-02-10 09:57] zeeshanbiit commented on #162
closing keyboard close all button label and text field in the viewcolntroller

[2017-02-10 19:44] william205 commented on #162
@zeeshanbiit could you please post the code you are using and screenshots of what is happening?

[2017-02-14 06:23] dkchrome opened #163 "Take time to load."
Why the first time it takes like 5 -10 seconds to load the screen? Is there any way to load it instantly? Please help.

[2017-02-23 11:31] ghouse1 opened #164 "Embed youtube video iFrame"
Can we embed Youtube iFrame tags in this controls. I try to add it but its not working. Is there a way to add iFrame tags ?

[2017-02-28 02:46] panghonghua opened #165 "Can not change Text Font"

[2017-02-28 02:48] panghonghua opened #166 "Can not insert voice and video"

[2017-03-02 01:52] LuKane commented on #160
Do you fix that?

[2017-03-02 01:57] nnhubbard commented on #160
This has not yet been fixed. You are welcome to submit a pull request.

[2017-03-08 02:52] jihongboo opened #167 "insertImage function doesn't work(Solved)"
Add
`    [self.editorView stringByEvaluatingJavaScriptFromString:@"zss_editor.prepareInsert();"];
`
to function
`- (void)insertImage:(NSString *)url alt:(NSString *)alt;
`

[code]

[2017-03-24 02:22] mick20 commented on #139
I also faced this issue, it happenes frequently and seems not easy to solve it

[2017-03-28 10:03] chirag225 commented on #164
Same Question

[2017-04-17 11:31] bharathreddy-97 opened #170 "How to use this in Swift"
How can i use this in swift? which headers should i add to bridging header?

[2017-04-19 01:48] 2240054474 commented on #165
me too!

[2017-04-19 01:50] 2240054474 commented on #165
Can you solve it?If you save, both please tell me how to solve.thanks!

[2017-04-19 06:49] 2240054474 commented on #165
已经解决了,如果你遇到这个问题那你应该也能看懂中文...我就不打英文了...因为毕竟我英文也不太好,怕你更看不懂,哈哈哈哈哈...好了,说正题:原因:输入中文的时候不能设置字体,英文可以,因为这个找不到中文字体,你可以把       case ZSSFontFamilyGeorgia:
            fontFamilyString = @"Helvetica";
            break;
改成
    case ZSSFontFamilyGeorgia:
            fontFamilyString = @"STHeitiSC-Light";
            break;
然后中文样式就出来啦😄

[2017-04-19 10:18] WalkerZhan opened #171 "no ZSSBarButtonItem call "setBlockquote""

[2017-04-19 14:04] rwoody commented on #161
There is [`react-native-zss-rich-text-editor`](https://github.com/wix/react-native-zss-rich-text-editor) this but it's dependency [`react-native-webview-bridge`](https://github.com/alinz/react-native-webview-bridge) doesn't work out of the box with RN 0.40+

[2017-04-20 07:47] vhbvb commented on #171
u can added one ,and call jsMethod "zsseditor.setBlockqute()"...but u need to costom style for  Blockqute.

[2017-04-20 07:51] vhbvb opened #172 "Crash when quickly enter and Change style"
Thread 5 name:  WebThread
Thread 5 Crashed:
0   WebCore                       	0x000000018dab16c4 JSC::JSValue WebCore::wrap<WebCore::Range>(JSC::ExecState*, WebCore::JSDOMGlobalObject*, WebCore::Range&) + 212
1   WebCore                       	0x000000018d8ab888 WebCore::jsDOMSelectionPrototypeFunctionGetRangeAt(JSC::ExecState*) + 488
2   WebCore                       	0x000000018d8ab888 WebCore:

[2017-04-20 08:03] vhbvb commented on #172
Crash appear When Input Chinese characters ... Crash message :EXC_BAD_ACCESS

[2017-04-23 11:31] orkhanalizade opened #173 "Is it possible to use it in only one TextField?"
I do not want a whole ZSS Controller, I want to use it in normal ViewController and for one TextField there. Is it possible?

[2017-05-02 09:42] OldestDriver commented on #154
if you have solve the problem? please tell me. thanks

[2017-05-08 08:34] wifi-137205513 commented on #44
[self focusTextEditor];
            [self insertHTML:[NSString stringWithFormat:@"<img src=\"%@\">", @"http://fun.youth.cn/yl24xs/201704/W020170406358321645876.jpg"]];
Why is insert pictures in the end, not in the position of the cursor?

[2017-05-08 12:40] FineaX commented on #154
@OldestDriver check ZSSRichTextEditor.js  zss_editor.updateOffset = function() you can try to change

[2017-05-08 17:38] Cr0sSS commented on #125
Same thing. iOS 10.3, iPhone 7 simulator and iPhone 7Plus device.

There is "extraHeight" constant in file ZSSRichTextEditor.m
line 1230

// Editor View
const int extraHeight = 10;

If it = 0, no black line will be shown. For what this magical constant was created?

[2017-05-10 08:57] sbiqpl opened #174 "Enter text style cannot be changed"
There are a number of Apple phones in the input, the style becomes thicker and can not be changed after the ramp input

[2017-05-15 05:28] tempTestAccount99 opened #175 "Seeing empty/blank screen when opening the editor view controller"
Using Swift in Xcode 8.3.2

I installed using CocoaPods.

In an empty application, I wanted to test the editor. So I subclassed ZSSRichTextEditor. Then I set `baseURL`, set `placeholder`, set `formatHTML` to true, and set the html. I can see that `viewDidLoad` is getting called in the subclass.

I tried opening the subclassed Editor view controller through storyboard and programatically, but I'm s

[2017-06-01 09:30] Hitesh136 commented on #175
this happens because code of  ZSSRichTextEditor in demo project is little different from pod file.
some variables not declared and view frame related difference. just replace ZSSRichTextEditor.h and ZSSRichTextEditor.m file from demo project  to pod framework. some FontViewController related issue occur but you can solve them , i just remove that code because i don't need font changing .

[2017-06-05 07:21] MartinSchultz commented on #158
Any news on this issue?

[2017-06-06 08:32] githupchenqiang opened #176 "Set the selected font size"
I joined the JS code set the font size, but the text is not changed, how to modify the selected font size

[2017-06-16 13:48] chenfengfeng opened #177 "how to print select text?"
<img width="136" alt="qq20170616-214819 2x" src="https://user-images.githubusercontent.com/6957977/27229267-8a6f949e-52dd-11e7-9e64-2a9fc8778049.png">

[2017-06-19 14:04] thomers opened #178 "Delay and warning when instantiating ZSSRichTextEditor view controller"
I'm seeing massive (>=2 seconds) delays and warning messages when I'm instantiating a ZSSRichTextEditor subclass:

[code]
It does not matter whether I'm instantiating in code or via a Storyboard segue.

Xcode: 8.3.3
iOS SDK: 10.3.2

[2017-06-26 10:29] shivanraptor commented on #175
Short summary: Demo does not use Interface Builder / Storyboard; it writes interface from codes. That's why you see a blank page when launching (me too).

[2017-06-26 10:51] shivanraptor opened #180 "Subclass ViewController with ZSSRichTextEditor, results in blank screen"
I'm using Storyboard. I install ZSSRichTextEditor via Cocoapods, and subclass a fresh View Controller with ZSSRichTextEditor:

[code]
But results in blank page with the suggested demo codes from the README:

[code]

What did I miss?

[2017-06-28 02:56] Mika368 commented on #174
*
I also have this problem, I don't know how to solve it
。if you can do it ,place tall me  mika368@163.com,thanks

[2017-07-11 16:13] hassan379 opened #181 "apple rejected my app because hackishly methods"
Apple rejected my app because hackishly methods or classes  . i searched for methods and classes that have the same name but i found this method - (UIView *)hackishlyFoundBrowserView {
this is the full message from apple

thanks in advance

[2017-07-15 10:04] wehuazi opened #182 "missing image when dismiss keyboard"
when i add a picture, dismiss keyboard can be make the picture disappear,use the baydet ways can't fix the issues.i need you help.
thanks!

[2017-07-21 12:44] PanagiotisVakalis opened #183 "Change the size of the text editor."
I am using this view controller but I want to include more elements on it. So, I want to decrease the size of the area in which the user types. How can I decrease it? I am using Swift 3.

[2017-07-25 02:47] menhui222 commented on #104
I'm experiencing this too.  this a mistake

[2017-07-25 02:48] menhui222 commented on #104
I'm experiencing this too.

[2017-07-25 03:12] menhui222 commented on #104
I solved . First call     [self.editorView stringByEvaluatingJavaScriptFromString:@"zss_editor.prepareInsert();"];

[2017-07-25 13:35] PanagiotisVakalis opened #184 "insertHTML(html) does not work"
I am using this function in order to add a span inside a HTML. However it seems that it is not working. I have used your example and still nothing is being added.
I used the setHTML function in order to check whether my HTML can be rendered and the HTML is being set successfully.
I am using Swift 3, how can I insert a block of HTML?

Thanks in advance.

[2017-07-31 08:11] sqsw commented on #159
any update on this issue? @william205

[2017-08-01 09:44] 29745560 commented on #155
I have the same question and I want to solve

[2017-08-01 09:49] 29745560 commented on #174
me too

[2017-08-03 07:26] sqsw opened #185 "Serious delay/lag while typing via the default full keyboard"
Hi,

I came across serious lagging while typing words on iOS (10.3.2) via the default full keyboard. There is the same issue when running the latest ZSSRichTextEditor demo program. Not sure if it is related to the ios 10 bug (https://discussions.apple.com/thread/7668958?start=0&tstart=0) , could anyone look into the issue to see if there is any workaround?

Thanks.

[2017-08-04 08:35] twisturn opened #186 "Can you pass the audit?"
Can you pass the audit?

[2017-08-05 19:04] noder199 opened #187 "What is the health of this repository?"
This iOS rich text editor appears to be the most popular and fully featured but there has been a lack of activity as of late. Do you guys suggest using this one or any others?

[2017-08-07 03:03] nnhubbard commented on #187
I have zero time to work on this library, so I have been looking for contributors or someone to take over the project for a LONG time, but no one seems to want to. :(

[2017-08-16 05:43] Mehul18292 commented on #170
`#import "ZSSRichTextEditor.h"`

Adding above line is enough for having it in swift.

[2017-08-16 05:45] Mehul18292 commented on #183
@PanagiotisVakalis : Do you get any solution?, I am also looking for the same thing, want to insert some other views in viewcontroller, so want to minimize the text editor size. Let me know if you get any solution for this.

[2017-08-16 05:47] Mehul18292 commented on #173
Hello @orkhanalizade, Have you found any solution for this. I am looking for the same thing. If you get any solution then let me know.

[2017-08-16 05:50] Mehul18292 opened #188 "Changing TintColor Not Working."
I have tried to follow this bottom 2 lines,

[code]

But, In my case, I am always getting the default blue colored toolbaritems and also not changing color when selected. Can anyone help me out, why it is not working?

[2017-08-16 06:19] Mehul18292 commented on #155
Hello @nthieu90 & @29745560 , Do you get any solution for this?

[2017-08-18 04:45] PanagiotisVakalis commented on #183
@Mehul18292 unfortunately I did not manage to change the size of the view.

[2017-08-28 08:50] sqsw commented on #185
Anyone ran into the same issue?

[2017-09-04 16:10] yakovlevmaksym commented on #180
I have the same issue. Included via Cocoapods and subclassed. Is there any solution to resolve this issue?

[2017-09-13 03:10] xhisdai opened #189 "EditorView the bottom will be some more code, can I help you?"
NSString *htmlString = [NSString stringWithContentsOfURL:[NSURL URLWithString:@"http://mp.weixin.qq.com/s/v4AKJr33M-YxSqhg9h5Vrw"] encoding:NSUTF8StringEncoding error:nil];
    htmlString = [htmlString stringByReplacingOccurrencesOfString:@"data-src" withString:@"src"];
    [self.editorView setHtml:htmlString];

![img_0186](https://user-images.githubusercontent.com/13994255/30357933-02da8ff2-9874-

[2017-09-13 03:21] xhisdai commented on #189
- (NSString *)addSlashes:(NSString *)html
{
    html = [html stringByReplacingOccurrencesOfString:@"\\" withString:@"\\\\"];
    html = [html stringByReplacingOccurrencesOfString:@"\"" withString:@"\\\""];
    html = [html stringByReplacingOccurrencesOfString:@"\r"  withString:@"\\r"];
    html = [html stringByReplacingOccurrencesOfString:@"\n"  withString:@"\\n"];

    return html;
}

[2017-09-18 18:47] rafaelnobrepd commented on #188
I noticed that on iOS 10, having ANY appearance proxy that messes with tintColor (even ones that have nothing to do with UIToolBar) will make Toolbars not respect individual tintColor settings anymore. Haven't found a workaround yet.

[2017-09-18 19:25] Jaroslav84 commented on #96
:( even if I do this it dows not work:

 [self.sourceView setAutocorrectionType:UITextAutocorrectionTypeNo];

someone figured out how to disable suggestions?

[2017-09-20 15:35] Gandelr opened #190 "Build project with ios 11 no view ToolbarItems"
Hy,
I upgrade my ipad with ios 11.
If start the app i view correct toolbaritems but if build the app with new xcode 9
there is toolbar but don't view toolbaritems.

[2017-09-21 08:48] #190 closed

[2017-09-27 09:56] GHeminghui opened #191 ""replaceRange" does not work like before in "setText""
Just like this,this function replace html  <img src="http://img.che-by.com/BANNER/logo.png" alt=""> with <img src=“http://img.che-by.com/BANNER/logo.png” alt=“”>.

[2017-10-18 04:03] slccper commented on #182
only one picture will miss when keyboard dismiss, do you fix it?

[2017-10-18 08:05] slccper commented on #182
@wehuazi

[2017-10-19 06:21] SaifWasif opened #192 "How to set text in editorView initially ?"

[2017-10-20 10:43] wehuazi commented on #182
@slccper i add a hidden div in the web souces.

[2017-10-26 07:07] myworldhere opened #193 "if I only pick up one image from library, then dissmiss keyboard,the content will be nil !!!!"
I find a bug ,there is no content first,and  if I only pick up one image without text. Than dismiss keyboard. the view will display the placeholder string, my selectedImage dissmissed.

[2017-10-26 07:13] myworldhere commented on #182
@wehuazi how to fixed this issue? help me!

[2017-10-26 07:27] myworldhere commented on #182
@nnhubbard help me to fix this issue

[2017-10-26 16:01] nnhubbard commented on #182
@myworldhere Sorry, I just don't have any time to work on this project.

[2017-10-30 07:37] JeromeTW commented on #170
If you using cocoapod, the line will be "#import "ZSSRichTextEditor/ZSSRichTextEditor.h"

[2017-10-31 01:30] JeromeTW commented on #170
After testing, I found that framework from cocoapod is different from sample's framework. It miss a lot of functions. So manually using ZSSRichTextEditor is a  better choice.

manually using ZSSRichTextEditor in swift steps:
1.Copy the `Source` folder to your project.
2.add the line `#import "ZSSRichTextEditor.h"` in your bridging header
3.configure Build Phases like following screenshot:

![2017-

[2017-10-31 01:34] JeromeTW opened #194 "Unlink is not work in sample code."
Unlink is not work in sample code. So does quick link. Or I'm missing something??
![img_724d91e8c134-1](https://user-images.githubusercontent.com/11555237/32203497-8814c1e0-be1e-11e7-980f-94586e6198c0.jpeg)

[2017-10-31 05:21] JeromeTW commented on #180
configure Build Phases in following link:
https://github.com/nnhubbard/ZSSRichTextEditor/issues/170#issuecomment-340633096

[2017-10-31 07:13] JeromeTW commented on #130
In my issue is the ATS forbid downloading image, so add following lines in Info.plist.
[code]

[2017-10-31 07:15] JeromeTW commented on #158
Any news on this issue? +1

[2017-10-31 07:45] JeromeTW commented on #134
Hi, @xingze0308 , can you explain more about the solution, thank you. 謝謝。

[2017-10-31 15:34] nnhubbard commented on #158
@JeromeTW Please feel free to submit a pull request for this. I have no time to work on this project currently.

[2017-11-01 00:03] JeromeTW commented on #158
@nnhubbard , anyway, thank you for the great project! Have a nice day~

[2017-11-06 03:18] lizizi opened #195 "help"
i dont know how to use it ,there is empty when i use

[2017-11-14 03:55] sunzhongliangde commented on #195
me too

like this:
NSString *html = @"<h1>Large Editor</h1>";
// Set the HTML contents of the editor
    [self setHTML:html];

there is empty

[2017-11-14 06:17] sunzhongliangde commented on #195
![image](https://user-images.githubusercontent.com/3336252/32765659-11495d24-c8d1-11e7-867a-3dc634444263.png)
if use cocoapods , This happens

[2017-11-15 10:48] sriteja25 opened #196 "How to change tint color of an image for a custom ZSSBarButtonItem ?"
I am trying to use a custom text color picker for my view as I need custom specific colors. I want to change the button's image color with the color choose by the user.

I tried this

[code]

Whenever color is being changed, the tint color changes for a split second and disappears (Hence I was not able to capture the change in color).

Can anyone help me changing the color of the custom bar button

[2017-11-15 20:18] magonicolas opened #197 "Question: Can Insert UIView?"
Is it possible to insert a custom UIView?

[2017-11-16 09:20] cAibDe opened #198 "swift text color not change"
<span style="color: rgb(255, 0, 0);">费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电</span>

when use this String in Swift ,First color change red , second  color not change

[2017-11-16 09:22] cAibDe commented on #198
<span>

[2017-11-16 09:22] cAibDe commented on #198
"<span style="color: rgb(255, 0, 0);">费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电</span>"

[2017-11-16 09:23] cAibDe commented on #198
"<"span style="color: rgb(255, 0, 0);">"费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电费水电</span>

[2017-11-20 10:35] lwsitachi commented on #158
- (void)imagePickerController:(UIImagePickerController *)picker didFinishPickingMediaWithInfo:(NSDictionary<NSString *, id> *)info{

    //Decide if we have to insert or update
//    if (!self.imageBase64String) {
        [self insertImageBase64String:imageBase64String alt:self.selectedImageAlt];
//    } else {
//        [self updateImageBase64String:imageBase64String alt:self.selectedImageAlt];
/

[2017-11-23 08:35] wyk111wyk opened #199 "Can I set it read-only?"
Like UITextView I could set isEditable No.

[2017-12-08 06:01] CIOPinal commented on #176
have you found any solution?

[2018-01-11 03:11] MrGuys commented on #193
did you resolve it?
if there is no text,the problem will appear

[2018-01-15 10:02] laoshiren0822 opened #200 "how display network image?"
`    NSString *html = @"<p>i want display network image <img src=\"http://p0.ifengimg.com/pmop/2017/1218/F9636BB16CC72EC34B5FCB78B3CC3F8AF9B6503E_size33_w720_h413.jpeg\" width=\"600\" height=\"344\" alt=\"\" style=\"border: 0px; vertical-align: bottom; display: block; margin: 0px auto; max-width: 100%; height: auto;\"/></p>";`

`[self setHTML:html];`

[2018-01-15 12:37] haemi opened #201 "iOS 11: last ZSSBarButtonItem is not displayed"
the library has to be adapted so it uses AutoLayout since UIToolBar uses it internally since iOS 11.

[2018-01-15 12:38] haemi opened #202 "when used inside UITabBarController, the toolbar is placed too high"
in `keyboardWillShowOrHide` it has to be considered if the editor is shown inside a UITabBarController as the height of the UITabBar has to be considered as well.

[2018-01-16 06:22] TJ-93 commented on #157
Me too.Have you solved it?

[2018-01-16 08:19] #200 closed

[2018-01-16 08:31] laoshiren0822 opened #203 "How to change text font size?"
i want change text font size , but i not found the function in dome.  please help me

[2018-01-18 03:57] laoshiren0822 commented on #203
zss_editor.setFontSize = function(em) {
    document.execCommand('fontsize', true, em);
    zss_editor.enabledEditingItems();
}

[2018-01-18 03:57] #203 closed

[2018-01-18 03:59] laoshiren0822 opened #204 "How to know ZSSRichTextEditor focus in/out?"
i want to konw ZSSRichTextEditor focus in/out , like uitextfield textFieldShouldBeginEditing.

[2018-01-29 07:53] codestrummer29 commented on #182
Just add <div style="display:none;visibility:hidden;">Some text</div> before adding image in js file. That will fix it

[2018-01-29 07:53] codestrummer29 commented on #193
Just add

Some text
before adding image in js file. That will fix it

[2018-01-29 07:54] codestrummer29 commented on #182
zss_editor.insertImage = function(url, alt , image_id , image_type) {
    zss_editor.restorerange();
    var html = '<div style="display:none;visibility:hidden;">unique</div> <img src="'+url+'" image_id = "'+image_id+'" image_type = "'+image_type+'"/>';
    zss_editor.insertHTML(html);
    zss_editor.enabledEditingItems();
}

[2018-01-29 07:55] codestrummer29 commented on #182
Just add a hidden div with some text inside before inserting image in JS file

[2018-01-29 07:55] codestrummer29 commented on #193
Just add a hidden div with some text inside before inserting image in JS file

[2018-01-29 09:35] codestrummer29 commented on #111
is it fixed?

[2018-01-29 10:32] codestrummer29 commented on #181
how did you resolve?

[2018-01-30 13:37] wenmobo commented on #193
@codestrummer29 I have the same bug,can you show me your revised file or code.Thank your very mutch!

[2018-02-07 06:40] mehulgecg opened #205 "How to highlight Hashtags while typing?"
When user start typing with **'#'**, how can we highlight it using CSS until users presses space button?

[2018-02-08 04:55] unix2dos commented on #183
@Mehul18292   @PanagiotisVakalis  Do you get any solution?

[2018-02-08 09:01] unix2dos commented on #199
@wyk111wyk  how did you resolve?

[2018-02-08 15:14] unix2dos commented on #201
@haemi  the https://github.com/nnhubbard/ZSSRichTextEditor/pull/179  slove this

[2018-02-19 11:34] avinashyalgonde opened #206 "Add Table not exist"
Please provide support to add Table

[2018-02-27 07:52] clement89 opened #207 "formatting not working in iOS 11."
This happens when we edit the document. The issue is related to iOS 11. In iOS 11 they  added "Smart Punctuation" to the keyboard settings. This means when typing “Clement” it will convert it to “Clement”. The '"' are replaced by a '“' and '”' string. These are different quotes (smart quotes)was the reason for malfunctioning... I try fixing the issue by replacing

`html = [html stringByReplacingOc

[2018-03-27 06:32] LH-Liu opened #208 "If possible, I would like someone to provide a set method similar to toolbarItemTitle、toolbarItemImage？"
Can provide similar "toolbarItemTintColor, toolbarItemSelectedTintColor" attribute
For example, toolbarItemTitle, toolbarItemImage, so that you can customize any style you want without having to handle the event yourself.

[2018-04-02 10:31] wooden1985 commented on #182
please show code @codestrummer29

[2018-04-03 06:56] wooden1985 commented on #193
@wenmobo did you resolve it?

[2018-04-04 04:39] Maulikdani opened #209 "Clear source view's text and set placeholder"
Hello,

I have requirement like need to clear or Reset text of source-view after successful upload, and set the placeholder text in-place of that.

Please suggest me the way, how to integrate this in app.

Thank you in advance.

[2018-05-03 02:43] Zhangwenzhen opened #211 "loading html image failed"
first in controller  setHTML loading web image success, later failed

[2018-05-10 13:43] koystinen opened #212 "Selecting more text then fits on a screen causes scroll to shake/jiggle"
Given user working with large text (several paragraphs long).
And user tries to select last paragraph by selecting last word and then trying to move the selection cursor up,
When selection reaches top of the screen, the screen won't continue scroll up, but instead begins to shake

[ScrollingIssuesTrimmp4.zip](https://github.com/nnhubbard/ZSSRichTextEditor/files/1991830/ScrollingIssuesTrimmp4.zip)

[2018-05-11 10:49] 550872569 opened #213 "add interface for setFontSize"
1. 在ZSSRichTextEditor.m 文件添加接口
/** font 1-7 */
- (void)setFontSize:(int)font {
    NSString *normal = [NSString stringWithFormat:@"zss_editor.setFontSize(\"%d\");",font];
    [self.editorView stringByEvaluatingJavaScriptFromString:normal];
}
2. ZSSRichTextEditor.js 文件中添加接口
zss_editor.setFontSize = function(aFontSize) {

    document.execCommand("styleWithCSS", null, true);
    document.execCommand

[2018-05-14 08:46] 550872569 opened #214 "ZSSRichTextEditor line1758 内存泄露"
__block bool receiveEditorDidChangeEvents = _receiveEditorDidChangeEvents;
    __weak typeof(self) weakSelf = self;
    JSContext *ctx = [webView valueForKeyPath:@"documentView.webView.mainFrame.javaScriptContext"];
    ctx[@"contentUpdateCallback"] = ^(JSValue *msg) {
        __weak typeof(weakSelf) StrongSelf = weakSelf;

        if (receiveEditorDidChangeEvents) {

            [StrongSelf edito

[2018-05-17 08:49] WildStrom commented on #184
you can check this return value  var result = document.execCommand('insertHTML', false, html);  if the result is false, then you should find that whether the selection(by document.getSelection(); ) is in the right state.

[2018-05-21 04:25] iantfang opened #215 "Cannot add more than one image into editor"
Currently the editor only supports adding one image. If insert a second image, it won't show up in the editor. Is there anyway to insert more than one image?

[2018-05-24 15:51] halpz opened #216 "receiveEditorDidChangeEvents doesnt exist"
how do I access this?

[2018-06-08 07:53] Mehul18292 commented on #216
what you want to access?

[2018-06-08 09:56] halpz commented on #216
it's ok , the latest cocoapod version doesn't include this feature, it's a few years out of date, so I had to install manually

[2018-06-08 09:56] #216 closed

[2018-06-10 15:17] FWBGitHub commented on #215
I found this problem.

[2018-06-13 22:16] ethanyuwang opened #217 "Can't get caret's correct index"
I'm trying to get the current selection and the cursor's position relative to the current node. I have tried to do so by getting the range first:

[code]

and then logged the `startOffset`, `endOffset`, and `commonAncestorContainer.nodeValue` However, it looks like the range is only partial to the actual node, and the offsets are off(should be 18 this case):

![screenshot_1528850221](https://user-

[2018-06-14 02:55] supriya-pa commented on #166
@panghonghua ... were you able to find any solution?

[2018-06-14 02:56] supriya-pa commented on #164
@ghouse1 , @chirag225 - Any suggested solution ?

[2018-06-19 11:23] frankfan1990 opened #218 "ios8的兼容性问题"
在iOS中，如果先写标题，然后再填写正文内容，那么webview的代理方法`- (BOOL)webView:(UIWebView *)webView shouldStartLoadWithRequest:(NSURLRequest *)request navigationType:(UIWebViewNavigationType)navigationType`并不会执行。因此之后的逻辑存在问题。

[2018-06-29 17:06] sameer4 commented on #204
i managed to do it by inserting

`window.location = "sam://isActive";` in `$(document).on('selectionchange',function(e)` in init function of ZSSRichTextEditor.js for in-focus

and `$(document).on("focusout", function() {window.location = "sam://isNotActive";});` in init function for focus-out.

and in `- (BOOL)webView:(UIWebView *)webView shouldStartLoadWithRequest:(NSURLRequest *)request navigati

[2018-07-04 07:36] daniestrella1 commented on #173
+1

[2018-07-07 04:32] wyk111wyk opened #219 "xcode warning about alertView"

[2018-08-06 07:31] vaibhavsingla1996 commented on #128
Does this issue of app not getting accepted at Appstore got fixed which was due to use of public api (i.e UIWebBrowserView )or not..?

[2018-08-06 07:42] vaibhavsingla1996 commented on #17
please tell me, will I be facing a rejection from apple fir using "UIWebBrowserView". If yes then what wil be the fix for this ?

[2018-08-16 06:58] Kaizi-oo opened #220 "Unknown error with cocoa pods"
I had installed ZSSRichTextEditor by CocoaPods. something wrong happened.
But it worked When I installed it manually. Don't know why.

[2018-08-31 02:51] yesiya commented on #139
Anybody has ideas with this issue?

[2018-09-07 19:30] neowinston opened #221 "Keyboard not presenting in iOS 12"
I'm trying to make it work on iOS 12 Beta and Version 10.0 beta 6 (10L232m), but the keyboard is not showing up. Does it have anything to do with UIWebView deprecation? Thanks!

[2018-09-08 09:58] george-luofz commented on #221
could you change a Simulator, and try more.

[2018-09-17 03:05] fangyuxi commented on #221
On the emulator, the keyboard does not appear automatically and will appear after clicking "Hardware->toggle keybord".

[2018-09-19 14:14] jedt commented on #182
I found the problem. This line is converting the html quotes into smart quotes https://github.com/nnhubbard/ZSSRichTextEditor/blob/2ef845aa750bae591516aecc38187db27ad8fab4/ZSSRichTextEditor/Source/ZSSRichTextEditor.m#L987

I'm not yet sure why this is happening @nnhubbard any suggestions please?

[2018-09-20 06:34] Parvege opened #222 "NewLine(\n) command not working"
Hi,
I'm fetching the string from the api. And assign the value(string Format) to ZSSTextView. I have attached the response below.
{
@"description":"FirstLine. \U00a0 \U00a0 \U00a0 \U00a0\U00a0\nSecondLine. \U00a0 \U00a0 \U00a0\U00a0\nThirdLine. \U00a0 \U00a0\nFourthLine"
}
The new line(\n) command is not working.So, the textview display below type:
FirstLine .    SecondLine .   ThirdLine . FourthL

[2018-09-20 08:56] wangjinlei1223 commented on #137
how to resolve this bug?

[2018-09-30 06:00] baiwulong commented on #211
+1

[2018-10-12 09:16] klaus01 commented on #215
see https://github.com/nnhubbard/ZSSRichTextEditor/issues/134

[2018-10-12 09:45] WangYang-iOS opened #223 "ZSSRichTextEditor输入超过一屏的文字后 收回键盘，再次输入文字会出现文字抖动的情况，怎么解决？"
ZSSRichTextEditor输入超过一屏的文字后 收回键盘再，次输入文字会出现文字抖动的情况，怎么解决？

[2018-10-12 09:45] WangYang-iOS commented on #223
ZSSRichTextEditor输入超过一屏的文字后 收回键盘再，次输入文字会出现文字抖动的情况，怎么解决？

[2018-10-13 01:10] WangYang-iOS commented on #223
ZSSRichTextEditor输入超过一屏的文字后 收回键盘再，次输入文字会出现文字抖动的情况，怎么解决？

[2018-10-17 11:10] DrashtiJaviya commented on #23
in which pod version these issue is fixed ?

[2018-11-09 02:34] yunxtk99139 commented on #174
me too

[2018-11-25 04:14] #172 closed

[2018-12-17 07:37] WildStrom commented on #172
这个问题解决了吗？我也碰到了。。

[2018-12-18 10:46] beydeng commented on #52
user insertImage:alt can't work
the url looks like  http://.../img/topic/20181218/15451297703346imageSize=W=40H=150.jpeg
how can i fix it?

[2018-12-18 10:55] beydeng opened #224 "user insertImage:alt can't work"
user insertImage:alt can't work
the url looks like http://.../img/topic/20181218/15451297703346imageSize=W=40H=150.jpeg
how can i fix it?

[2018-12-19 02:46] wu1132956426 opened #225 "在加入转ba se本地图片"

[2018-12-24 08:37] gaojiewan opened #226 "When loading a long piece of HTML, too much memory will block the page, or even flash back. Is there a solution?"
When loading a long piece of HTML, too much memory will block the page, or even flash back. Is there a solution?

[2018-12-24 08:38] gaojiewan commented on #225
我也遇到这个问题了，不光是本地图片，只要html过长，加载都会这样，楼主的解决了吗？

[2018-12-29 00:57] Bruce-pac commented on #226
because UIWebView,unless WKWebView

[2018-12-29 01:20] gaojiewan commented on #226
I know, I tried to replace UIWebView inside with WKWebView, but there are some methods that don't support it. Is there any way to solve the memory problem in UIWebView? What's your solution?

[2018-12-29 09:05] kervich commented on #226
You may want to try [this particular fork](https://github.com/Saritasa/ZSSRichTextEditor)

[2018-12-29 09:15] gaojiewan commented on #226
Ok, I'll try. Thank you very much

[2019-01-16 06:43] mashun commented on #211
+1

[2019-01-18 02:50] rebeccaBullTxt opened #227 "九宫格键盘标点符号不提示"
九宫格下,点击标点符号,没有类似于系统键盘的标点符号提示

[2019-01-19 02:39] mashun commented on #211
+1

[2019-01-31 09:22] samniu opened #228 "sourceView setText crash"
When loading some html files, such as the contents of the embedded table data, when executing `-(void)updateHTML`'self`sourceView.text = html;`, Crash when updating some code of NSTextStorage.

When commenting `self.sourceView.text = html;`, there is no crash, and the speed of loading html files is also faster.

[2019-02-01 08:33] snmhm1991 commented on #223
请问这个问题您解决了吗？

[2019-02-21 09:24] programmerLikeDirector opened #229 "Change TextColor doen't work"
### I write a function to change textColor,is reference default function, like this:
[code]
**Default function:**
[code]

### Why did my code not work?

[2019-03-12 07:12] takhil opened #230 "How to remove blank lines (or) empty break tags in HTML string after selecting Export button."
Hi, I want to remove empty break tags.
Example : With out enter any text I select 'Export' button I get
"<div>
    <br />
</div>"
this. I don't need if user enters empty text or user clicks multiple times return button on keyboard and selects 'Export' button. Here also at end the there is no text. But some break tags is there. I want remove these tags from HTML string. How to do this.

[2019-03-28 06:56] WowJesse commented on #229
i have the same question

[2019-03-28 17:29] nnhubbard commented on #229
Someone can dig into the code if they want. I just don't have any time for this project currently.

[2019-03-29 03:07] WowJesse commented on #229
@nnhubbard Can you add a new function on this basis? First click the highlight button, and then the text will always be highlighted when typing, and then click the highlight button again to cancel the highlight

[2019-04-15 02:27] coderMi commented on #228
Have you solve this problem? I also encountered the same problem.

[2019-04-15 02:29] coderMi commented on #228
This problem occurs on iPhone Xs, iPhone Xr, iPhone Xs Max. On the iPhone8 is correct

[2019-04-17 07:24] Mehul18292 commented on #230
Hello @takhil , Did you find any solution for this?

I am getting same problem. Let me know if any solution.

@nnhubbard : Can you please help us out in this issue?

[2019-04-17 07:37] Mehul18292 commented on #226
@kervich : I have tried the fork link that you provided. Actually it is not working at all.

@gaojiewan : Have you found any solution for this? I am facing the same issue.

@nnhubbard : Please help us out.

[2019-04-21 09:00] rizwanami opened #231 "[ZSSTextView setHTML:]: unrecognized selector sent to instance"
I have imported the pod in my swift project, but getting runtime error while calling setHTML method.

[2019-04-24 06:16] czboosj commented on #130
+1

[2019-04-25 03:50] LixinQian commented on #227
@rebeccaBullTxt 你解决了吗？

[2019-05-09 09:38] Scorpio-git commented on #225
当输入文本较长时 执行
$(document).on('selectionchange',function(e){
                   zss_editor.calculateEditorHeightWithCaretPosition();
                   zss_editor.setScrollPosition();
                   zss_editor.enabledEditingItems(e);
                });
会造成卡顿
将 zss_editor.calculateEditorHeightWithCaretPosition(); 改成由interval控制而不是 selectionchange 可以解决此问题
完整代码
 var flagContentChange = false;
 var i

[2019-05-09 10:04] gaojiewan commented on #225
我试了楼上这个方法，对我这个不起作用啊，可能我描述问题不太清楚：我这是一次性加载大量html字符串，类似于文章的二次编辑，大神还有别的解决办法吗？

[2019-05-10 08:50] Scorpio-git commented on #225
我不清楚问题是否一致，如果是输入的过程中卡顿，cpu占用100%，可以用上面方法解决。我fork了，然后修改了一下，可以试试能不能解决你的问题  https://github.com/Scorpio-git/ZSSRichTextEditor

[2019-05-10 09:01] gaojiewan commented on #225
问题不太一致，我这不是输入过程中卡顿，是一次性加载大量html会卡着，不过你这个也解决了我许多别的问题，感谢大神

[2019-05-13 08:09] swiftdays opened #233 "After pasting a paragraph of html text, the style is not displayed"
the method "contentUpdateCallback" was called back twice, But I just pasted it once.
if I want to display original style, I can only click undo once.

[2019-05-17 00:08] #233 closed

[2019-05-27 11:09] thief1010 commented on #211
遇到相同的问题，请问我在初始化这个框架时加载html内容，当HTML内容中含有网络图片时图片显示不出来，请问该如何解决？

[2019-05-29 10:15] Cyberbeni opened #236 "Keyboard layout issues"
First of all, you want to subscribe to UIKeyboardWillChangeFrameNotification and then ifelse based on `(keyboardEnd.origin.y < [[UIScreen mainScreen] bounds].size.height)`
And then you want to set toolbarHolder's frame like this:
[code]

Only tested on iOS12 but it solved my issues with being in a container that has stuff at the bottom.

[2019-06-03 02:49] Whyjsee commented on #225
兄弟你这思路可以的👍

[2019-06-19 01:53] thief1010 commented on #226
我也想知道知道怎么解决这个问题

[2019-07-22 03:19] zhoushaomon commented on #225
kBaseLibraryDirectoryPath什么用处？

[2019-08-08 12:42] ccnyou commented on #193
bug here
[code]

[2019-09-23 12:38] usaidather opened #239 "TextColor is not visible if we show HTML from Previous ViewController"
I created a html with different text color now if i want to edit this HTML, html will be shown with black text only, HTML doesn't maintain actual textual color, although it shows actual text color if editor View controller is open for the first time.

<img width="401" alt="Screenshot 2019-09-23 at 5 36 24 PM" src="https://user-images.githubusercontent.com/5682009/65426029-dd0a2b00-de28-11e9-86a1-e

[2019-09-30 05:23] DrashtiJaviya-Openxcell opened #240 "ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs"
TMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information. After you’ve corrected the issues, you can use Xcode or Application Loader to upload a new binary to App Store Connect

[2019-10-08 05:04] 472125266 commented on #211
请问这个问题解决了么?

[2019-10-08 07:53] thief1010 commented on #211
解决了
![image](https://user-images.githubusercontent.com/18477655/66377191-a6651080-e9e3-11e9-8945-f7e37c6cd2ab.png)
![image](https://user-images.githubusercontent.com/18477655/66377239-bf6dc180-e9e3-11e9-99ea-14c5a7863e6f.png)

[2019-10-15 06:53] dragonad123 opened #241 "能插入视频吗？像插入图片那样"
我们公司要做插入视频功能，这个框架支持吗

[2019-10-22 01:35] MadeByDouglas commented on #240
So I am working on a PR to fix this on my own fork. https://github.com/MadeByDouglas/ZSSRichTextEditor In the process, the way to get JS Context has changed substantially. Does anyone have ideas how to apply this solution to ZSS ? https://stackoverflow.com/questions/25792131/how-to-get-jscontext-from-wkwebview

[2019-10-22 15:19] nnhubbard commented on #240
The entire project needs to be updated to use `WKWebView` but sadly I do not have the time to do this.

[2019-10-22 16:05] MadeByDouglas commented on #240
Right I understand, I am doing it. This is only missing component. It’s not the most elegant conversion but it should work.

Sent from my iPad

[2019-10-22 21:53] MadeByDouglas commented on #5
Anyone here still interested in this project? So I've rewritten this using `WKWebView` instead of `UIWebView` and this section is the only part that remains. I'm not familiar with this JS context idea `[webView valueForKeyPath:@"documentView.webView.mainFrame.javaScriptContext"];` what is the proper approach to refactor this to use `WKScriptMessage` as described in a general way in the SO link? ht

[2019-10-23 00:11] MadeByDouglas commented on #240
if anyone has ideas I posted the question here; I'm just not familiar with WebKit. https://stackoverflow.com/questions/58513792/how-do-i-repurpose-jscontext-in-uiwebview-to-wkscriptmessage-for-wkwebview

[2019-10-23 08:12] PZXforXcode opened #242 "我demo只能添加一张本地图片，添加第二张就没效果了"
有人遇到过相同情况吗

[2019-10-24 02:51] MadeByDouglas commented on #5
I figured it out https://github.com/nnhubbard/ZSSRichTextEditor/pull/243

[2019-10-24 02:52] MadeByDouglas commented on #240
I figured it out, PR is ready to solve this issue https://github.com/nnhubbard/ZSSRichTextEditor/pull/243

[2019-10-24 18:33] MadeByDouglas opened #245 "when pasting text in the editor, it dismisses the keyboard"
I could not find an immediately obvious reason for this. How can we change this behavior? (it was on the original before my WKWebView changes)

[2019-10-24 23:10] nnhubbard commented on #245
Yes, I think this is a needed change. If you are able to update I will approve a PR.

[2019-10-24 23:10] #245 closed

[2019-10-24 23:11] #240 closed

[2019-10-24 23:12] #220 closed

[2019-11-02 14:24] MohideenSheikSulaiman opened #246 "Data detector types not working"
In WKWebView, mobile numbers and websites are not converted to links automatically even if we set the data detector types (WKDataDetectorTypeAll).

[2019-11-18 09:45] Jacky-LinPeng opened #247 "question about 'undo'"
how to cancle the text from last edit word
 not cancle all edit word

[2019-11-24 13:47] pc23pankaj opened #248 "Reframe WkWebView for a specific size."
Hi, i want to reframe the WkWebView according to my CGRectMake, Because I have to add other Objects on my ViewController. Currently, it is taking the whole self.view size. please suggest me.

[2019-12-02 22:04] MHX792 opened #249 "How to hide second toolbar below rich text toolbar? [Xcode 11]"
Manually added the source files. How to hide the second toolbar?

![Simulator Screen Shot - iPhone 8 - 2019-12-02 at 23 02 20](https://user-images.githubusercontent.com/12123471/69998999-eb2aa500-1557-11ea-828d-21f3d2aed54c.png)

[2019-12-05 09:14] Jacky-LinPeng commented on #146
[contentController addScriptMessageHandler:self name:@"jsm"]; cause leak

[2019-12-17 11:30] iOSCountry commented on #242
me too，why？

[2019-12-22 02:55] Ama-SmallBoy commented on #242
看代码，代码中第一次是插入，第二次是更新，ZSSRichTextEditor-> 2191-2195行

[2019-12-23 03:21] mzhgogo commented on #224
Has this problem been solved?

[2019-12-23 04:15] mzhgogo opened #250 "Url Image Can't Load"
i use insertImage:alt:  insert image url like https://stage-fs.lu***Mezx9.jpg . it's can't display . But I'll just write <img src="https://stage-fs.lu***Mezx9.jpg " alt="jj">  in the editor HTML and can load it.
how can I solve this problem ?

[2019-12-23 08:33] oangkin commented on #249
`@property (nonatomic, strong) UIWindow *textEffectsWindow;`
`- (UIWindow *)textEffectsWindow{
    __block UIWindow *keyboardWindow = nil;
    [UIApplication.sharedApplication.windows enumerateObjectsUsingBlock:^(__kindof UIWindow * _Nonnull obj, NSUInteger idx, BOOL * _Nonnull stop) {
        if ([obj.class isEqual:NSClassFromString(@"UITextEffectsWindow").class]) {
            keyboardWindow = o

[2019-12-23 08:34] oangkin commented on #249
@property (nonatomic, strong) UIWindow *textEffectsWindow;

- (UIWindow *)textEffectsWindow{
    __block UIWindow *keyboardWindow = nil;
    [UIApplication.sharedApplication.windows enumerateObjectsUsingBlock:^(__kindof UIWindow * _Nonnull obj, NSUInteger idx, BOOL * _Nonnull stop) {
        if ([obj.class isEqual:NSClassFromString(@"UITextEffectsWindow").class]) {
            keyboardWindow = obj

[2019-12-24 03:10] sunneytree opened #251 "insertImage failed!"
i use insertImage:alt: insert image url like https://stage-fs.lu***Mezx9.jpg . it's can't display . But I'll just write <img src="https://stage-fs.lu***Mezx9.jpg " alt="jj"> in the editor HTML and can load it.
how can I solve this problem ?

[2019-12-24 05:50] Mehul18292 commented on #249
@oangkin : Where to write this code?

[2019-12-26 07:12] manikandan-gopal opened #252 "Underline Strikethrough, button highlight issue."
1) Select underline and strikethrough style.
2) type some content
3) give a line break(press enter)
4) styles(underline and strikethrough) are still highlighted.(this is not an issue)
5) now unselect the styles(underline and strikethrough)
6) underline and strikethrough buttons are still highlighted(this is the issue)

![IMG_8325](https://user-images.githubusercontent.com/53706365/71463649-19a9420

[2019-12-26 09:26] swesome opened #253 "[Process] kill() returned unexpected error 1"
[Process] kill() returned unexpected error 1

[2019-12-26 21:14] michafaw commented on #252
After running a few tests on my own JS, it seems to be a webkit bug. Calls to `document.queryCommandState ("underline"))` (and others such as strikeout) return `true` instead of `false` until you move the cursor. (e.g. tap somewhere else or add some additional input)
After a bit more research, it was fixed by the webkit team in May of 2018. (See [https://bugs.webkit.org/show_bug.cgi?id=158115](htt

[2019-12-27 06:11] manikandan-gopal commented on #252
Thanks much for the response @michafaw.
I too tested the same, and I agree that it's the issue with webkit engine. Is there any alternative for fixing it?

[2019-12-27 21:15] michafaw commented on #252
I haven't found anything yet. For now, we have a half solution. In my own JS callback (not ZSS) I'm ignoring the return values from `queryCommandState` right after I press the underline button to turn it off. This will show the correct underline button status (off) unless the user taps a different style button before moving the cursor/adding more input. (Perhaps relevant: I'm running Xcode 10. I h

[2019-12-27 21:44] michafaw commented on #249
Is UITextEffectsWindow a private class? If it is, wouldn't this solution be a potential problem during submission to the App Store?

[2019-12-28 00:58] HerrDoktorBD commented on #249
Seems to work. Call `[self hideTextEffectsWindow];` in `- (void)keyboardWillShowOrHide:(NSNotification *)notification {` just below `if (keyboardRect.origin.y < screeenHeight) {`.

[2019-12-29 13:17] oangkin commented on #249
我更新了回复，在键盘出现的时候调用即可

[2019-12-29 13:18] oangkin commented on #249
这个是私有类，我的app审核通过了，如果要实现这个功能目前没别的办法。

[2019-12-29 13:19] oangkin commented on #249
你说的是对的

[2019-12-30 22:51] michafaw commented on #249
@oangkin Ok, but if I understand the way Apple reviews work, there is a chance that they will find private calls in *any* submission to the store. (including updates) So unfortunately this is not a useable solution for my team even if it is the only way. (Congrats on making it through 👍)

[2020-01-02 06:32] manikandan-gopal commented on #252
Thanks @michafaw.

[2020-01-02 08:28] lovehenggege commented on #251
请问这个问题您有解决了吗

[2020-01-02 11:09] pc23pankaj commented on #224
has this problem is solved?

[2020-01-03 10:09] jiurong001 opened #255 "push shouldShowKeyboard Yes -> Jitter"

[2020-01-10 11:52] halpz opened #257 "Dark mode"
will there be a dark mode support for this plugin?

thanks

[2020-01-13 00:58] YoomamaFTW commented on #253
[It's a WKWebView error](https://stackoverflow.com/questions/58321114/why-i-get-the-console-warning-process-kill-returned-unexpected-error-1-when). Technically, it's fixed but hasn't migrated yet.

[2020-01-13 01:00] YoomamaFTW commented on #257
Hi, from [YoomamaFTW/RichEditorView](https://gitHub.com/YoomamaFTW/RichEditorView). Go to your style.css file and add the following:
[code]
and then in your main html file, add this to the head:
`<meta name="supported-color-schemes" content="light dark">`

[2020-01-13 01:08] YoomamaFTW commented on #247
[My repository for RichEditorView](https://gitHub.com/YoomamaFTW/RichEditorView) most likely does the same thing. We use a JavaScript command called `execCommand` in which the browser decides what is undone. The command, itself, is most likely: `document.execCommand('undo', false, null);`

I'm not too sure since I don't use this repo, but it most likely does this. There really isn't much leeway un

[2020-01-13 01:16] YoomamaFTW opened #258 "Collab with RichEditorView"
Hi RichTextEditor community! I'm from [YoomamaFTW/RichEditorView](https://github.com/YoomamaFTW/RichEditorView), which is a revised and iOS 13 compatible RichEditorView.

I'm looking for those willing to contribute some JS help. Currently, I am aiming to make our repositories better than Apple's by supporting all functionalities and adding more. Currently, all our editors don't have a couple featu

[2020-01-13 10:03] pc23pankaj commented on #209
Have to able to solve this issue?

Thanks for your help in advance.

[2020-01-14 16:56] halpz commented on #257
thanks this works!

please include this in the next build if you're reading devs!

[2020-01-15 04:23] fooshyangsong commented on #223
@WangYang-iOS 请问有解决方案了吗？

[2020-01-15 08:01] fooshyangsong commented on #258
Hello @YoomamaFTW , I had used  cjwirth/RichEditorView before. Does your side added on feature like toolbarItemSelected tint color like ZSSRichTextEditor ?

[2020-01-18 03:40] YoomamaFTW commented on #258
No. I didn't realize people used the default toolbar, but I can add a feature like that.

[2020-02-12 11:14] Wizhiai commented on #241
插入视频截图，然后，点击截图跳转播放视频，不差不多意思么，我也打算做，这样想的

[2020-02-17 14:43] raqeeb23 commented on #183
anyOne got the solution

[2020-02-17 16:57] PanagiotisVakalis commented on #183
I haven't managed to find a solution

[2020-02-19 07:29] geabcd opened #259 "Input freeze under large editor"
In the case of long text, input multiple characters continuously. After about 150 characters, keyboard input will become stuck and memory will increase.

[2020-03-03 09:40] BJGX commented on #223
输入抖动问题  https://www.jianshu.com/p/e309d7f95e95 看这个

[2020-03-03 15:00] zhangkaize123 opened #260 "image not display"
first load html document it contain base64 image but not display

[2020-03-09 08:22] mohamedaslam commented on #260
For me also getting same issue.did you get solution for this??

[2020-03-09 08:50] mohamedaslam commented on #251
iam also getting same issue.did you solved this issue??

[2020-03-10 12:04] mohamedaslam opened #261 "Resting all selected actions like(Bold,Italic,Underline)after selecting actions .if i show keyboard .its restting all actions"
Hi,
Actually iam using custom view to select Bold,Italic,Underline,strikeline,e.t.c..iam not using tool bar...Issue is if i select Bold,Italic,Underline,Strike,e.t.c without keyboard showing..After selecting actions if i show the keyboard first time automatically reseting all actions..

After testing so many times.what i understood is..if i select any action like Bold,italic,color,e.t.c then immed

[2020-03-20 07:57] AnOrphanInTheBeautyfulWorld commented on #252
@michafaw Thanks for point out the problem is webkit bug.

[2020-03-26 09:25] DamonRao opened #262 "textColor setting bug"
when I was changing textColor to redColor,and exporting html. and then setHtml ,the textColor is always black;

[2020-03-31 17:32] mariusmaricean commented on #251
I'm struggling also with this.What's the fix? Thx! 😉

[2020-03-31 17:33] mariusmaricean commented on #260
I'm struggling also with this.What's the fix? Thx! 😉

[2020-03-31 17:33] mariusmaricean commented on #250
I'm struggling also with this.What's the fix? Thx! 😉

[2020-04-03 14:00] openpathgit opened #263 "Please update the cocoapod!"
Please update the pod, so we can get the latest version with the WKWebView support!

Thank you, this library rocks!

[2020-04-03 15:29] nnhubbard commented on #263
Currently I don't have time to update this. Please feel free to integrate it manually, which is quite easy.

[2020-04-11 00:33] GWMeng opened #264 "有时候调用setHTML方法后内容显示不正常"
有时候调用setHTML方法后内容显示不正常，图片无法显示，表格只能显示文本但是样式显示不出来等
Sometimes after calling the setHTML method, the content is not displayed normally, the picture cannot be displayed, the table can only display the text but the style cannot be displayed, etc

[2020-04-15 08:19] Lee-Wang-Jing commented on #137
How can I solve this problem at last

[2020-05-11 15:24] GraemeHarrison commented on #239
I have also noticed this issue. Any luck in fixing it?

[2020-05-12 07:38] MohideenSheikSulaiman opened #265 "Detect undo/redo history"
Is it possible to detect undo/redo history?

I want to know if any undo/redo objects are available.

[2020-05-14 05:44] DamonRao commented on #225
你这个只是适用于UIWebView啊，WKWebView呢咋办

[2020-05-28 00:46] GWMeng opened #266 "输入过程中回车键失效，状态显示错误 In the process of input, the Enter key is invalid and the status display is wrong"
输入文字的过程中，经常出现回车键文字由“换行”变成“确定”，然后点击就没有反应了

[2020-05-29 09:41] halpz opened #267 "Needs to remove references to UIWebView"
you can no longer submit apps that use UIWebView (from december) so this needs to be changed to WKWebView!

[2020-05-29 16:30] nnhubbard commented on #267
`UIWebView` isn't used anymore. Have you made sure to update?

[2020-06-10 11:56] nikhildhavale opened #268 "iOS 12"
This editor with WkWebview is not responsive on iOS 12. Can anyone help me here ?

[2020-06-10 19:41] bunyy opened #269 "Unable to resolve module `./editor.html` from `node_modules/react-native-zss-rich-text-editor/src/RichTextEditor.js`:"

[2020-06-11 01:17] nikhildhavale commented on #268
Only iOS 12

[2020-06-11 01:49] morisunshine commented on #251
delete the code of `window.location` in `ZSSRichTextEditor.js`

[2020-06-11 02:20] nnhubbard commented on #268
I just tested iOS 12 in the simulator and it is working fine for me. If you have specific details I can investigate.

[2020-06-11 06:27] morisunshine commented on #251
[code]

[2020-06-11 15:15] nnhubbard commented on #251
Can someone submit a pull request for this?

[2020-06-13 09:37] YogendraPatel commented on #115
is apple still reject app if i use this library with "WKWebBrowserView" class?

[2020-06-13 09:38] YogendraPatel commented on #100
is apple still reject app if i use this library with "WKWebBrowserView" class?

[2020-06-13 09:38] YogendraPatel commented on #128
is apple still reject app if i use this library with "WKWebBrowserView" class?

[2020-06-13 09:39] YogendraPatel commented on #181
is apple still reject app if i use this library with "WKWebBrowserView" class?

[2020-06-13 09:39] YogendraPatel commented on #17
is apple still reject app if i use this library with "WKWebBrowserView" class?

[2020-06-13 10:28] YogendraPatel commented on #151
@nrkotha have you find any solution?

[2020-06-13 12:28] YogendraPatel commented on #89
@willptswan Have you done checkbox feature?

[2020-06-15 06:17] YogendraPatel opened #270 "How to add checkbox feature?"

[2020-06-19 02:19] AllisonWangJiaoJiao opened #271 "ITMS-90809:"
ITMS-90809: Deprecated API Usage - App updates that use UIWebView will no longer be accepted as of December 2020. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).

[2020-06-19 04:21] nnhubbard commented on #271
This project does does not use UIWebView. Please make sure you are using the latest version.

[2020-06-21 08:40] nikhildhavale commented on #268
It is an issue with a version of iOS12 device for latest version of iOS 12 it doesn’t work.

[2020-06-29 03:08] AllisonWangJiaoJiao commented on #251
The solution didn't solve my problem

[2020-06-29 03:09] AllisonWangJiaoJiao commented on #251
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Completion handler passed to -[ZSSRichTextEditor webView:decidePolicyForNavigationAction:decisionHandler:] was not called'
*** First throw call stack:

[2020-06-29 05:45] AllisonWangJiaoJiao commented on #251
This solution solved my problem，thank you very much.

[2020-06-29 05:45] AllisonWangJiaoJiao commented on #251
This solution solved my problem，thank you very much.

[2020-06-30 07:49] AllisonWangJiaoJiao commented on #63
You can try this method.

- (void)updateHTML {

    NSString *html = self.internalHTML;
     NSAttributedString *htmlAtt = [[NSAttributedString alloc] initWithString:html];
     self.sourceView.attributedText = htmlAtt;
     NSString *cleanedHTML = [self removeQuotesFromHTML:html];
     NSString *trigger = [NSString stringWithFormat:@"zss_editor.setHTML(\"%@\");", cleanedHTML];
     [self.editorVi

[2020-07-01 01:32] AllisonWangJiaoJiao commented on #271
It has been updated to the latest version，thanks a lot.

[2020-07-01 04:05] #271 closed

[2020-07-01 06:23] m-calapatapu opened #272 "Image is not displayed"
Image is not displayed  when the html string contains the image url  with alt  when loading into editorView

[2020-07-01 11:45] Mehul18292 commented on #251
Solution working fine. Project Handler can implement this and close this issue.

[2020-07-01 12:51] m-calapatapu commented on #272
Can anyone please respond why? WkWebview is not loading below image
<img alt="Thanks-header.png" src="https://docint0.blob.core.windows.net/publicfilescontainer02/" width="582" style="padding-bottom: 0px; vertical-align: bottom; border: 0px; outline: none; text-decoration: none; display: inline;" class="gmail-m_4922265757032371696mcnImage">

[2020-07-06 08:00] yegail commented on #272
https://docint0.blob.core.windows.net/publicfilescontainer02/
this image not accessible

[2020-07-06 08:03] m-calapatapu commented on #272
For security reason I edited the URL. not to access. you can use any image URL in that place. The real image works when used in browser.
Please give some solution on this issue

[2020-07-06 16:31] nnhubbard commented on #272
If you toggle the source view, it seems iOS is inserting smart quotes. Not sure why, don't have a chance to investigate.

[2020-07-09 04:19] m-calapatapu commented on #272
Can you please give me a solution to handle it. As displaying the image is the major part in my App.

[2020-07-10 11:24] m-calapatapu commented on #272
I am able to display the image by changing the code of method **removeQuotesFromHTML** in **ZSSRichTextEditor.m**  as below
-(NSString *)removeQuotesFromHTML:(NSString *)html {
    html = [html stringByReplacingOccurrencesOfString:@"\"" withString:@"\\\""];
    html = [html stringByReplacingOccurrencesOfString:@"“" withString:@""];
    html = [html stringByReplacingOccurrencesOfString:@"”" withStr

[2020-07-16 03:39] sun2483968 opened #273 "setHTML img标签图像无法显示"
NSString *html = @"<p>This editor is using <strong>custom toolbar colors</strong>.</p>  <img src='https://www.w3school.com.cn/i/eg_mouse.jpg' width='128' height='128' />"

[2020-07-16 03:41] sun2483968 commented on #273
![Uploading 1594870577918.jpg…]()

[2020-07-16 07:04] #273 closed

[2020-07-17 03:54] sun2483968 commented on #251
如何联系你 QQ 10944809 能加我吗 有些问题需请教

[2020-08-06 02:34] yegail commented on #250
maybe focuskeyboard break the image request

[2020-08-06 02:37] yegail commented on #248
set self.editorView and self.sourceView frame

like:

     [self.viewRichTextContent addSubview:self.sourceView];
     __weak typeof(self) weakSelf = self;
    [self.editorView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.top.equalTo(weakSelf.viewRichTextContent);
        make.left.right.equalTo(weakSelf.viewRichTextContent).inset(5);
        make.bottom.equalTo(weakSelf.viewRich

[2020-08-07 08:06] AriqAhmad commented on #272
I used the following and it's working for me:
`- (NSString *)removeQuotesFromHTML:(NSString *)html {
    html = [html stringByReplacingOccurrencesOfString:@"\'" withString:@"\\\'"];
    html = [html stringByReplacingOccurrencesOfString:@"\"" withString:@"\\\""];
    html = [html stringByReplacingOccurrencesOfString:@"\n" withString:@"\\n"];
    html = [html stringByReplacingOccurrencesOfString:@"\

[2020-09-09 06:37] SummerHF commented on #272
**change to this fix my issue**
[code]

[2020-09-09 08:41] SummerHF opened #274 "setBackgroundColor, setTextColor doesn't work"
**NOT WORK**
[code]

[2020-09-09 08:43] #274 closed

[2020-09-10 06:56] SummerHF opened #275 "insert image method doesn't work, and image will not display!!!"
**Anyone who can tell me how to solve this problem?**

Even in the Demo app, i use this method to insert image

not work too!!!
[code]

i have set **App Transport Security Settings** but also not work
so many problems!!!!

[code]

[2020-09-10 07:18] SummerHF commented on #251
get crash

[2020-09-10 07:22] yangyunen commented on #183
I also want to know

[2020-09-11 07:28] SummerHF commented on #275
not!
why i use demo app and insert a image url but not display, did you found this problem?
thank you for replying!!

[2020-09-11 07:28] SummerHF commented on #275
not!
why i use demo app and insert a image url but not display, did you found this problem?
thank you for replying!!

[2020-09-11 09:04] SummerHF commented on #275
After insert, always get this !!!!
![WechatIMG380](https://user-images.githubusercontent.com/13494694/92898675-c3565f00-f450-11ea-9623-cfcf8fc34d13.jpeg)

[2020-09-11 09:18] SummerHF commented on #275
insert a web image url can't  show!!!!

[2020-09-14 02:52] yangyunen opened #276 "The input area is blocked, as shown in the figure"
![IMG_0369](https://user-images.githubusercontent.com/13709479/93038707-532a2200-f678-11ea-96a9-d938123b69b2.jpg)

[2020-09-16 03:53] #275 closed

[2020-09-22 05:10] kakaxihoracker opened #277 "Set Bold is not work correctly in Chinese keyboard type, maybe it can fix this problem."
zss_editor.setBold = function() {

    //    document.execCommand('bold', false, null);
    //    zss_editor.enabledEditingItems();

    if(document.queryCommandState('bold')) {
         document.execCommand('bold',false,'div');
         document.execCommand('insertHTML',false,'&zwnj;');
    }else{
        document.execCommand('insertHTML',false,'<b>&zwnj;</b>');
        zss_editor.enabledEditingI

[2020-09-27 03:13] chunxige opened #278 "加载一个html 渲染太慢了"

[2020-10-15 03:41] lexiaoyao20 commented on #251
I soved this problem by add a `WKWebView` category.

[code]

[2020-10-15 03:53] lexiaoyao20 commented on #272
I soved this problem by add a `WKWebView` category.

[code]

[2020-11-12 07:52] eternal-glory commented on #277
After using this method, other states cannot coexist.

[2020-12-01 08:49] jackliuheh commented on #211
兄弟，图片看不到了

[2021-03-10 06:01] Pavan-0221 opened #279 "Focusing & Editing Text."
It is not allowing me to edit a particular word, as it is focusing either start or end of the word but not the middle.

And Focusing the particular word, view scrolls to bottom.

Used Language Swift. Bridged and using the files(Not Pods but drag and dropped files to my project).

[2021-03-11 13:07] #279 closed

[2021-03-14 02:24] guoguozhang opened #280 "苹果中文键盘兼容"
苹果中文键盘的时候 无法取消黑体 中划线下划线 设置之后再也回不来了

[2021-04-12 06:52] yihuds opened #281 "loading a long html, it will make app freeze"
when we load a HTML with long content, app will become freeze and then killed by iOS system.

[2021-05-13 18:20] fukemy opened #282 "does this lib under supported now?"
Hi, does your library is still updating now?

[2021-05-13 20:02] nnhubbard commented on #282
I do not currently have time to do updates on this project. Did you have a request?

[2021-05-20 10:13] imashishbogati commented on #282
Hi @nnhubbard  is there any demo project in swift

[2021-05-20 15:26] nnhubbard commented on #282
@imashishbogati No, this project was written in Objective-C. Feel free to submit a pull request for any changes.

[2021-06-19 01:51] MoShenGuo opened #283 "你好 我想自定义wkwebView长按弹框,但是与你们键盘响应事件有冲突"
你好 我想自定义wkwebView长按弹框,但是与你们键盘响应事件有冲突
![图片](https://user-images.githubusercontent.com/21171688/122627724-ec90d380-d0e3-11eb-971e-7918ab523d39.png)

![图片](https://user-images.githubusercontent.com/21171688/122627677-ad628280-d0e3-11eb-825f-5b31240d0745.png)
你好,我自定义wkWebView长按弹框,但是与你们键盘响应事件冲突,导致两者都不能响应,这个怎么去解决呢?求指教

[2021-06-24 02:36] MoShenGuo opened #284 "你好 iPhone11 左滑页面直接闪退"
你好 我有个控制器继承你的ZSSRichTextEditor类  然后present出来这个控制器,左滑后直接闪退了,这是必现,是什么原因?怎么解决呢

[2021-06-29 06:39] MoShenGuo commented on #284
![图片](https://user-images.githubusercontent.com/21171688/123749082-a0197500-d8e7-11eb-98e7-7f912dad9bb9.png)
你好 这是全局断掉调试 左滑闪退bug,这是什么原因呢?

[2021-09-02 06:43] sagarindurkar opened #285 "Heading Issue when combined with list tag"
Hello there,
I am a huge admire of this component, however I have found an issue when using this editor.
Here is the issue that I observed.
When List is applied and in list item heading are used UI is getting disturbed. Also the remaining heading are not applied as per the tag.
[Here is a screenshot for the issue](https://hub.mangoapps.com/msc/MzA2MDU1XzIyMzA2MDE).

[2021-09-05 06:17] Sid7862 opened #286 "How to use as a UIView subclass"
Hi
I came across this library and you guys have done an awesome work. I want to ask an question that how can I use it as UIView component not UIViewController Component

[2021-09-07 17:09] nnhubbard commented on #286
`ZSSRichTextEditor` does not currently work outside of a subclassed `UIViewController`.

[2021-09-07 17:09] #286 closed

[2021-09-07 17:09] #282 closed

[2021-09-07 17:10] nnhubbard commented on #285
Can you show some screenshots and example HTML of the issue?

[2021-09-07 17:11] nnhubbard commented on #284
Can you post a video or gif of the issue?

[2021-09-07 17:12] nnhubbard commented on #276
Is this just scrolled out of view?

[2021-09-07 17:23] nnhubbard commented on #281
This sounds like an issue with `WKWebView`.

[2021-09-14 03:09] JoshuaFeng5 opened #287 "Can i insert a video?"
Will u done this job ,future?

[2021-09-16 10:20] sagarindurkar commented on #285
Thanks for considering issue, here is the screenshot link.
https://hub.mangoapps.com/msc/MzA2MDU1XzIyMzA2MDE

[2021-10-13 16:27] 101airborne commented on #207
I encountered the same problem (loss of formatting) of a previously edited and saved document on the iOS target of my Catalyst app.  At the same time the macOS target worked perfectly without losing formatting.

I too tracked the problem down to smart quotes and the -removeQuotesFromHTML  function in ZSSRichTextEditor.m.  But, the exact solution eluded me until I found this Issue posting.  The fix

[2021-10-20 13:10] 101airborne commented on #159
I solved the problem of extreme delay by eliminating the call to `-tidyHTML` in `-getHTML`:

[code]

[2021-11-17 14:56] abbutjohn commented on #260
Hi ... In the beginning image are loading ... second time while loading image gone. Why ? Any idea?

[2021-11-23 13:33] abbutjohn opened #288 "SwiftUI"
Work in SwiftUI ? The focus of the line jumping up and down for me

[2021-12-20 13:28] MayankAppentus commented on #260
<img src="https://nimiti-s3-bucket125012-main.s3.us-east-2.amazonaws.com/public/cache/ios_note_1640006658607.jpeg" alt="">
<div>Ibibk k knobkbjjjjjjjjjjjjjjjjjjjjjjjjjjjj</div>
Not showing image but in online editor its working fine.
Please help.

[2021-12-20 13:29] MayankAppentus commented on #260
[code]
Not showing or loading any image in editor but in online html editor its working fine. Any idea?
Please help.

[2022-01-21 10:42] pankaj1710 commented on #211
yes it's working

[2022-03-04 00:10] 101airborne commented on #104
This is still an issue.  I fixed similar to menuhui22's fix, by inserting:
`    // Save the selection location
    [self.editorView evaluateJavaScript:@"zss_editor.prepareInsert();" completionHandler:^(NSString *result, NSError *error) {
    }];
`
at beginning of:
`- (void)insertLink:(NSString *)url title:(NSString *)title `

[2022-03-04 00:11] nnhubbard commented on #104
@101airborne Please submit a pull request if you have fixed this issue.

[2022-03-04 00:27] 101airborne commented on #104
I'm sorry but I am not in a position to do a pull request, but here is the entire changed -insertLink:url:title function:
`- (void)insertLink:(NSString *)url title:(NSString *)title {

    // Save the selection location, preparing for insert - resolves ISSUE #104
    [self.editorView evaluateJavaScript:@"zss_editor.prepareInsert();" completionHandler:^(NSString *result, NSError *error) {

    }];

[2022-03-04 21:18] 101airborne commented on #246
This is still a problem.  I have been unable to make any Data Detector work with this WKWebView even though Data Detectors have been configured properly with:

`    config.dataDetectorTypes = WKDataDetectorTypeAll;
`

I have experimented successfully with Data Detectors in other WKWebViews that I have, but this WKWebView will not recognize any WKDataDetectorType.

[2022-03-04 22:06] 101airborne opened #289 "Links created with Insert Link tool are not active!"
The "href=" links created with the Insert Link tool are not clickable.  Even the "Zed Said Studio" link in the ZSSRichTextEditor Demo App is not active.  Tapping on a link elicits no response.

The html "href" created by the Insert Link tool seems to be properly formed and does display as a link.

Here is the html from the Demo App's Standard editor after I have added the "Apple Headquarters" link

[2022-03-09 15:56] 101airborne opened #290 "UnLink tool broken"
The "UnLink" tool doesn't seem to work.  "UnLink" does not change a selected  "<a href=>" to a non-link.

[2022-07-26 10:02] tangtaoit commented on #280
一样的问题

[2022-08-07 21:33] codenameDuchess commented on #267
Hi @nnhubbard, when I pulled in the dependency with CocoaPods the other day it resolved to your last tagged release (with UIWebView). Any chance of y'all creating a new tagged release? (The pod spec references version 0.5.2.2 but there's no corresponding tag in this repo). Thanks in advance! 👍

[2022-08-08 00:55] nnhubbard commented on #267
Just don't use CocoaPods. We haven't ever updated that.

[2022-08-08 00:55] #267 closed

[2022-09-21 02:32] SUNDESHINE commented on #280
同样的问题

[2022-11-06 09:44] kodekarim commented on #288
here is the implementation in swift [link](https://github.com/dev-abdul02/ZSSRichtextEdit-Swift), u can use Coordinator to use it in swiftUI

[2022-11-06 09:44] kodekarim commented on #170
here is the implementation in swift [link](https://github.com/dev-abdul02/ZSSRichtextEdit-Swift), u can use Coordinator to use it in swiftUI